/*BREADCRUMBS*/
.breadcrumbs {
	display: block;

	.container {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}

	+ .content .container {
		padding-top: 0;
	}

	ul {
		white-space: nowrap;

		li {
			display: inline-block;
			font-size: 18px;
			padding: 0 3px 0 0;

			&:last-of-type {
				padding: 0;
			}

			&:before {
				content: "";
				display: inline-block;
				width: 0.6rem;
				height: 0.6rem;
				margin-right: 1rem;
				margin-bottom: 0.3rem;
				border: 2px solid (@color-grey - 60%);
				border-bottom: 0;
				border-left: 0;
				.transform(rotate(45deg));
			}

			&:first-of-type {
				padding-left: 0;

				&:before {
					display: none;
				}
			}

			a {
				position: relative;
				display: inline-block;
				vertical-align: top;
				color: @color-grey-dark;
				border-bottom: 1px solid transparent;
				text-decoration: none;
				text-transform: uppercase;
				.transition("all 0.3s ease");

				&:before {
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					width: 0;
					height: 1px;
					background-color: @color-grey;
					.transition("all 0.3s ease");
				}

				&:hover {

					&:before {
						width: 100%;
					}
				}
			}

			span {
				display: inline-block;
				vertical-align: top;
				color: @color-blue-dark;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-transform: uppercase;
			}
		}
	}
}
