/*BUTTONS*/
.btn {
	position: relative;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	height: 4.6rem;
	line-height: 4.2rem;
	font-size: 2.2rem;
	//font-weight: bold;
	text-decoration: none !important;
	text-transform: uppercase;
	padding: 0 6rem;
	.borderRadius(2.3rem);
	.transition("all 0.2s ease");
	z-index: 1;
	overflow: hidden;

	&:before {
		content: "";
		position: absolute;
		left: -75px;
		top: -50px;
		width: 50px;
		height: 155px;
		opacity: .2;
		.transform(rotate(35deg));
		.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
		background-color: @color-white;
		z-index: -1;
	}

	&:hover {
		.transform(scale(1.02));

		&:before {
			//opacity: 1;
			//.borderRadius(2.1rem);
			//.transform(scale(1));
			left: 120%;
			.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
		}
	}

	&:active {
		.transition("all 0s");
		.transform(scale(1));
	}

	&.btn-default {
		color: @color-white;
		background-color: @color-blue-dark;
		border: 0.2rem solid @color-blue-dark;
	}

	&.btn-primary {
		color: @color-blue-dark;
		background-color: @color-orange-dark;
		border: 0.2rem solid @color-orange-dark;
	}

	&.btn-secondary {
		color: @color-blue-dark;
		background-color: @color-white;
		border: 0.2rem solid @color-white;

		&:before {
			background-color: darken(@color-white, 40%);
		}

	}

	&.btn-tertiary {
		color: @color-blue-dark;
		background-color: @color-orange;
		border: 0.2rem solid @color-orange;
	}

}
