/*FILTERS*/
.filters {
	margin-bottom: 8rem;

	> ul {
		position: relative;
		display: table;
		width: 100%;
		padding-bottom: 26px;

		> li {
			display: table-cell;
			text-align: center;
			width: 0.01%;

			a {
				position: relative;
				color: @color-blue;
				font-size: 1.8rem;
				font-weight: bold;
				text-transform: uppercase;
				.transition("all 0.3s ease");

				//&:before {
				//	content: '';
				//	position: absolute;
				//	top: 100%;
				//	left: 0;
				//	width: 0;
				//	height: 2px;
				//	background-color: @color-blue;
				//	.transition("all 0.3s ease");
				//}

				&:hover {
					color: @color-orange;
					//&:before {
					//	width: 100%;
					//}
				}
			}

			&.active {

				> a {
					color: @color-orange;

					&:hover {
						color: darken(@color-orange, 20%);
					}

					&:before {
						display: none;
					}

					&:after {
						content: '';
						position: absolute;
						top: ~"calc(100% + 18px)";
						left: 0;
						right: 0;
						margin: auto;
						width: 16px;
						height: 16px;
						.borderRadius(100%);
						background-color: @color-orange;
						.transition("all 0.5s ease");
					}
				}

				ul {
					visibility: visible;
					opacity: 1;
					pointer-events: all;
					margin-top: -25px;
				}
			}

			ul {
				visibility: hidden;
				opacity: 0;
				pointer-events: none;
				display: block;
				position: absolute;
				top: ~"calc(100% + 25px)";
				left: 0;
				width: 100%;
				padding: 15px;
				background-color: @color-grey-news;
				.borderRadius(30px);
				.transition("all 0.3s ease");
				text-align: center;

				li {
					position: relative;
					display: inline-block;
					//width: 0.01%;
					padding: 0 20px;

					a {
						font-size: 1.6rem;
						font-weight: normal;

					}

					&:before {
						content: '';
						width: 1px;
						height: 100%;
						position: absolute;
						top: 0;
						left: -3px;
						background-color: @color-white;
					}

					&:first-of-type {

						&:before {
							display: none;
						}
					}

					&.active {

						> a {
							color: @color-orange-dark;

							&:hover {
								color: darken(@color-orange-dark, 15%);

								&:before {
									width: 20px;
								}
							}

							&:before {
								content: '';
								display: block;
								position: absolute;
								top: ~"calc(100% - 2px)";
								left: 0;
								right: 0;
								margin: auto;
								width: 20px;
								height: 16px;
								background-color: @color-grey-news;
								z-index: 3;
							}

							&:after {
								content: '';
								display: block;
								position: absolute;
								top: ~"calc(100% + 6px)";
								left: 0;
								right: 0;
								margin: auto;
								width: 16px;
								height: 16px;
								.borderRadius(100%);
								background-color: @color-orange;
							}
						}
					}
				}
			}
		}
	}

	&.filters-news {
		margin-bottom: 2rem;

		> ul {
			position: relative;
			display: block;
			font-size: 0;
			width: 100%;
			padding: 15px 0;
			text-align: center;
			background-color: @color-grey-news;
			.borderRadius(30px);
			.transition("all 0.3s ease");

			li {
				position: relative;
				display: inline-block;
				width: auto;
				padding: 0 30px;
				font-size: 1.6rem;

				a {
					font-size: 1.6rem;

				}

				&:before {
					content: '';
					width: 1px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color: @color-white;
				}

				&:first-of-type {

					&:before {
						display: none;
					}
				}

				&.active {

					> a {
						color: @color-orange-dark;

						&:hover {
							color: darken(@color-orange-dark, 15%);
						}

						&:before {
							content: '';
							display: block;
							position: absolute;
							top: ~"calc(100% - 2px)";
							left: 0;
							right: 0;
							margin: auto;
							width: 20px;
							height: 16px;
							background-color: @color-grey-news;
							z-index: 3;
						}

						&:after {
							content: '';
							display: block;
							position: absolute;
							top: ~"calc(100% + 5px)";
							left: 0;
							right: 0;
							margin: auto;
							width: 16px;
							height: 16px;
							.borderRadius(100%);
							background-color: @color-orange;
						}
					}
				}
			}
		}
	}

	&.no-submenu {
		margin-bottom: 3rem;

		> ul {
			overflow: hidden;
		}
	}
}
