/*FORMS*/
form {

	.input {
		display: block;
		position: relative;
		margin-bottom: 1rem;

		input, textarea {
			display: block;
			width: 100%;
			height: 4.6rem;
			background-color: transparent;
			border: 2px solid @color-white;
			padding: 0.8rem 5.2rem 0.8rem 2rem;
			color: @color-blue-dark;
			.placeholderColor(@color-blue-dark);
			.font-main();
			font-size: 1.8rem;
			text-transform: uppercase;
		}

		textarea {
			height: 14rem;
			min-height: 14rem;
			max-height: 20rem;
			min-width: 100%;
			max-width: 100%;
		}

		.icon {
			position: absolute;
			top: 1.2rem;
			right: 2rem;
			color: @color-white;
			pointer-events: none;
			opacity: 0.6;

			i:before {
				font-size: 2rem;
			}
		}

		.error-message {
			display: none;
			color: @color-red-dark;
			margin-top: 0.4rem;
			font-size: 1.5rem;

			&:before {
				content: '!';
				display: inline-block;
				margin-right: 6px;
				width: 17px;
				height: 17px;
				border: 1px solid @color-red-dark;
				.borderRadius(100%);
				font-size: 1.2rem;
				font-weight: bold;
				line-height: 14px;
				text-align: center;
				vertical-align: bottom;
				opacity: 0.9;
				padding: 0.5px 0 0 2px;
				margin-bottom: 1px;
			}
		}

		&.error {

			input, textarea {
				border-color: @color-red-dark !important;
			}

			.icon {
				color: @color-red-dark !important;
			}

			.error-message {
				display: block;
			}
		}

		.inputfile {
			width: 0.1px;
			height: 0.1px;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			z-index: -1;

			+ label {
				display: block;
				width: 100%;
				height: 4.6rem;
				background-color: transparent;
				border: 2px solid @color-white;
				padding: 0.8rem 5.2rem 0.8rem 2rem;
				color: @color-grey-dark;
				.placeholderColor(@color-blue-dark);
				.font-main();
				font-size: 1.8rem;
				font-weight: 700;
				cursor: pointer;

				strong {
					display: inline-block;
					height: 3.2rem;
					line-height: 3rem;
					padding: 0 1.2rem;
					color: @color-grey-dark;
					border: 1px solid @color-grey-light;
					background-color: @color-grey-light;
					.borderRadius(1.6rem);
					margin: -3px 5px 0 -5px;
					font-size: 1.8rem;
					//font-weight: bold;
					letter-spacing: 0;
					z-index: 1;
					overflow: hidden;
					.transition("all 0.2s ease");

					&:before {
						content: "";
						position: absolute;
						left: -75px;
						top: -50px;
						width: 50px;
						height: 155px;
						opacity: .2;
						.transform(rotate(35deg));
						.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
						background-color: @color-white;
						z-index: -1;
					}

					&:after {
						content: "\f067";
						.font-awesome();
						display: inline-block;
						vertical-align: middle;
						width: 2rem;
						height: 2rem;
						line-height: 2rem;
						font-size: 1.2rem;
						font-weight: bold;
						.borderRadius(100%);
						border: 1px solid @color-grey-dark;
						color: @color-grey-dark;
						margin: 0 0 3.5px 0.6rem;
						text-align: center;
					}
				}

				span {
					display: inline-block;
					vertical-align: top;
					margin-top: 0.15rem;
					font-weight: normal;
					width: ~"calc(100% - 160px)";
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}

				&:hover strong {
					.transform(scale(1.02));

					&:before {
						left: 120%;
						.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
					}
				}

				&:active strong {
					.transition("all 0s");
					.transform(scale(1));
				}
			}
		}

	}

	.input-recaptcha {
		display: inline-block;
		float: none;
		width: 188px;
		margin: 0 20px 0 0;
		text-align: left;

		> div {
			float: right;
			height: 4.6rem;

			&.error-message {
				display: none;
				vertical-align: top;
				height: auto;
				font-size: 1.5rem;
				margin: 0.4rem 0 0 2px;
				float: none;
			}

			> div {
				.transform(scale(0.609));
				.transformOrigin(100% 0);
			}
		}

		&.error {

			> div {

				&.error-message {
					display: inline-block;
				}
			}
		}
	}

	.form-info {
		color: @color-white;
		margin-bottom: 20px;

		span {
			color: @color-blue-dark;
		}
	}

	.buttons {
		height: 6.8rem;
		text-align: right;

		.btn {
			display: inline-block;
			width: 190px;
		}
	}

	&.form-light {

		.input {

			input, textarea {
				color: @color-white;
				.placeholderColor(@color-white);
			}

			&.error {

				.icon {
					opacity: 1;
				}
			}
		}

		.form-info {

			span {
				color: @color-white;
				opacity: 0.6;
			}
		}

		.error-message {
			color: @color-white;

			&:before {
				color: @color-white;
				background-color: @color-red-dark;
				border-color: @color-white;
			}
		}
	}

	&.form-dark {

		.input {

			input, textarea {
				color: @color-blue;
				.placeholderColor(@color-blue-dark);
				border-color: @color-blue;
			}

			&.input-file {

				.inputfile {
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;

					+ label {
						border: 2px solid @color-blue;
					}
				}
			}
		}

		.icon {
			color: @color-blue;
		}

		.form-info {
			color: @color-blue;

			span {
				color: @color-blue;
				opacity: 0.6;
			}
		}
	}
}

.form-wrapper {
	position: relative;
	display: inline-block;
	width: ~"calc(100% + 10px)";
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 5px;
	padding-right: 5px;
	overflow: hidden;

	form {
		position: relative;
		top: 0;
	}

	.success-msg, .error-msg {
		width: 100%;
		position: absolute;
		display: none;
		text-align: center;
		top: 100%;

		.info {
			display: table-cell;
			vertical-align: middle;

			img {
				display: inline-block;
				margin-bottom: 20px;
			}
		}

		.text-light {
			color: @color-white;
		}

		p.text-light {
			opacity: 0.8;
		}
	}

	&.loading {

		form {
			pointer-events: none;
			.animation(blinker 1s linear infinite);
		}

		@keyframes blinker {
			50% {
				opacity: 0.3;
			}
		}
	}

	&.success {

		form {
			top: -100%;
		}

		.success-msg {
			top: 0;
		}
	}

	&.error {

		form {
			top: -100%;
		}

		.error-msg {
			top: 0;
		}
	}

	&.transition {

		form, .success-msg, .error-msg {
			.transition("all 0.6s ease");
		}
	}
}
