/*POPUPS*/
.modal-wrapper {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	z-index: 1000;
	left: -50%;
	top: -50%;
	width: 200%;
	height: 200%;
	background: fadeout(@color-black, 50%);
	.transition("all 0.5s ease");

	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	&.displayed {
		visibility: visible;
		opacity: 1;
	}
}

.modal {
	position: absolute;
	visibility: hidden;
	overflow-y: auto;
	.totalCenter();
	background-color: @color-white;
	width: ~"calc(50% - 20px)";
	max-width: 720px;
	max-height: ~"calc(50% - 20px)";
	padding: 35px 30px;
	.modalSlideFromBottom();

	&.displayed {
		opacity: 1;
		visibility: visible;
		.transform(translateY(-50%) translateX(-50%));
	}

	&.modal-form {

		h2 {
			width: 100%;
			margin: 0 auto 20px;
			font-size: 3.4rem;
		}

		form {
			margin: 0 auto;
			width: 420px;
			max-width: 100%;
		}

		.buttons {
			text-align: center;
			padding: 0;
		}

	}

	&.modal-play-now {
		width: 50%;
		height: 50%;
		max-width: 50%;
		max-height: 50%;
		padding: 40px 17px 17px;

		.modal-body {
			display: block;
			width: 100%;
			height: 100%;
			background-color: @color-grey-light;
		}

		iframe {
			display: block;
			width: 100%;
			height: 100%;
		}

		&.loading {

			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: auto;
				width: 140px;
				height: 140px;
				border: 10px solid fadeout(@color-blue, 50%);
				border-top-color: @color-blue;
				.borderRadius(50%);
				.animation(rotateSpinner 1.5s infinite linear);
				.transformOrigin(50% 50%);
			}

			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 50%;
				top: 50%;
				margin: auto;
				width: 100px;
				height: 100px;
				border: 10px solid fadeout(@color-blue, 50%);
				border-top-color: @color-blue;
				.borderRadius(50%);
				.animation(rotateSpinnerRevert 1.5s infinite linear);
				.transformOrigin(50% 50%);
			}
		}
	}

	&.modal-play-video {
		padding: 40px 20px 20px;

		iframe {
			max-width: 100% !important;
			max-height: 100% !important;
		}
	}

	.modal-body {
		.marginCropV();
		.transition("all 0s");
	}

	.links {
		position: absolute;
		right: 15px;
		top: 10px;

		> * {
			position: relative;
			margin-right: 15px;

			&:last-child, &:only-child {
				margin-right: 0;

				&:after {
					display: none;
				}
			}

			&:after {
				content: "";
				width: 1px;
				height: 100%;
				background-color: lighten(@color-grey-light, 5%);
				position: absolute;
				top: 1px;
				right: -10px;
				pointer-events: none;
			}
		}
	}

	.close, .game-info {
		height: 22px;
		font-size: 1.6rem;
		text-transform: uppercase;
		color: @color-grey-light;
		background-color: transparent;
		.transition("all 0.2s ease");

		span {
			display: inline-block;
			vertical-align: top;
			font-size: 35px;
			height: 22px;
			line-height: 21px;
			margin-left: 5px;
			.transition("all 0.2s ease");
		}

		&:hover {
			color: @color-grey;
		}

		&:active {

			span {
				.transition("all 0s");
				.transform(scale(0.9));
			}
		}
	}

	.game-info {

		span {
			display: inline-block;
			vertical-align: middle;
			width: 18px;
			height: 18px;
			line-height: 16px;
			margin-bottom: 3px;
			text-align: center;
			font-size: 1.4rem;
			font-weight: bold;
			text-transform: lowercase;
			border: 1px solid @color-grey-light;
			.borderRadius(100%);
		}

		&:hover {
			border-color: @color-grey;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		font-size: 18px;
	}

	.btn {
		font-size: 19px;
		&.btn-big {
			width: 100%;
			padding: 0;
		}
	}

	.success-msg, .error-msg {

		strong {
			display: block;
			font-size: 2.8rem;
			color: @color-grey-darker;
			text-transform: uppercase;
			padding: 0 40px;
		}

		.buttons {
			display: block;
			padding-top: 25px;
		}
	}
}

.modalSlideFromBottom() {
	opacity: 0;
	transform-origin: 50% 50%;
	.transform(translateX(-50%) translateY(20%));
	.transition("all 0.5s cubic-bezier(0.25, 0.5, 0.5, 0.9)");
}
