/*NAV*/
nav {

	ul {
		font-size: 0;
	}

	li {
		display: inline-block;

		&.active {

			a {


				&:before {
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 2px;
					background-color: @color-white;
				}

				//&:after {
				//	content: '';
				//	display: block;
				//	position: absolute;
				//	top: ~"calc(100% + 17px)";
				//	left: 0;
				//	right: 0;
				//	margin: auto;
				//	width: 16px;
				//	height: 16px;
				//	.borderRadius(100%);
				//	background-color: @color-orange;
				//}
			}
		}
	}

	a {
		position: relative;
		color: @color-white;
		font-size: 2rem;
		text-transform: uppercase;
		.transition("all 0.3s ease");

		&:before {
			content: '';
			position: absolute;
			top: 100%;
			left: 0;
			width: 0;
			height: 2px;
			background-color: @color-white;
			.transition("all 0.3s ease");
		}

		&:hover {

			&:before {
				width: 100%;
			}
		}
	}
}
