/*PAGINATION*/
.pagination {
	display: block;
	margin: 0 0 2.0rem;
	.borderRadius(0);

	ul {
		display: block;
		text-align: center;
	}

	li {
		display: inline-block;
		margin: 0 0.5rem;

		&.active {

			a {
				color: @color-white;
				background-color: @color-green;
			}
		}
	}

	a {
		display: block;
		padding: 0.3rem 0 0.2rem;
		width: 3.6rem;
		font-size: 2rem;
		color: @color-black-light;
		background-color: @color-white;
		border: 0.1rem solid @color-grey-dark;

		&:hover {
			background-color: (@color-white - 20%);
			text-decoration: none;
			border-color: @color-green;
		}
	}
}
