/*SOCIAL*/
.social {

	ul {

	}

	li {
		display: inline-block;
		vertical-align: top;

		a {
			position: relative;
			display: block;
			width: 3.6rem;
			height: 3.6rem;
			border: 2px solid @color-white;
			.borderRadius(100%);
			font-size: 2rem;
			color: @color-white;
			text-align: center;
			line-height: ~"calc(3.5rem - 4px)";
			.transition("all 0.2s ease");
			z-index: 1;

			&:before {
				display: inline !important;
				font-size: 2rem;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: @color-white;
				z-index: -1;
				opacity: 0;
				.borderRadius(100%);
				.transform(scale(0));
				.transition("all 0.25s ease");
			}

			&:hover {
				color: @color-blue-dark;

				&:after {
					opacity: 1;
					.transform(scale(1));
				}
			}

			&:active {
				&:before, &:after {
					.transition("all 0s");
					.transform(scale(0.97));
				}
			}

			&.fa-periscope {

				&:before {
					content: '';
					display: inline-block !important;
					width: 16px;
					height: 21px;
					margin-top: 6px;
					background-image: url("../images/icon/icon-periscope.png");
					background-repeat: no-repeat;
					background-size: 100% auto;
					background-position: 0 0;
					.transition("all 0s");
				}

				&:hover {
					&:before {
						background-position: 0 100%;
					}
				}
			}
		}
	}

	&.social-dark {

		li {

			a {
				background-color: @color-blue-dark;
				border: 2px solid @color-white;

				&:hover {
					border-color: @color-blue;
				}
			}
		}
	}

	&.social-vertical {

		li {
			display: block;
			margin: 5px 0;

			&:first-of-type {
				margin: 0 0 5px;
			}

			&:first-of-type {
				margin: 5px 0 0;
			}
		}
	}

	&.social-fixed {
		position: fixed;
		top: 233px;
		right: 100px;
		z-index: 10;
	}
}
