/*SUBSCRIBERS*/
.subscriber {
	position: relative;
	clear: both;
	color: @color-white;
	background-color: @color-blue;

	.container {
		padding-top: 40px !important;
		padding-bottom: 40px !important;
		pointer-events: none;
	}

	.input, .btn {
		pointer-events: all;
	}

	h3 {
		margin-top: -0.4rem;
		margin-bottom: 1.2rem;

		+ p {
			margin-top: -1.5rem;
			margin-bottom: 1.2rem;
			opacity: 0.7;
		}
	}

	.input:not(.input-recaptcha) {
		float: left;
		width: ~"calc(100% - 215px)";
		margin-bottom: 0;
		.transition("all 0.5s ease");
	}

	form .input-recaptcha > div.error-message {
		margin: 0.4rem 0 0 1px;
	}

	.buttons {
		position: relative;
		float: right;
		clear: none;
		width: 215px;
		padding-right: 5px;
		margin-right: -5px;
		overflow: hidden;
		.transition("all 0.5s ease");

		.input-recaptcha {
			position: absolute;
			top: 0;
			right: 205px;
		}

		.btn {
			position: absolute;
			top: 0;
			right: 5px;
		}
	}

	&.subscriber-light {
		//background-color: transparent;
		//background-image: url("../images/bg/bg-subscriber-light.jpg");
		//background-repeat: no-repeat;
		//background-position: center top;
		background-color: @color-orange;
		overflow: hidden;
	}

	&.subscriber-dark {
		//background-color: transparent;
		//background-image: url("../images/bg/bg-subscriber-dark.jpg");
		//background-repeat: no-repeat;
		//background-position: center top;
		.gradient-blue-radial();
		overflow: hidden;

		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 10px;
			width: 100%;
			opacity: 0.1;
			.gradient-grey-vertical();
		}

		&:after {
			top: auto;
			bottom: 0;
			.transform(rotate(180deg));
		}
	}

	&.focused {

		.input:not(.input-recaptcha) {
			width: ~"calc(100% - 416px)";
		}

		.buttons {
			width: 405px;
		}

	}

	.success-msg, .error-msg {

		.info {

			img {
				width: 45px;
				margin-bottom: 0;
			}

			strong {
				display: block;
				font-size: 3rem;
				text-transform: uppercase;
				text-align: center;
			}

			p {
				text-align: center;
			}
		}
	}
}
