/*TEXT EDITOR*/
.text {
	text-align: left;
	font-size: 1.8rem;
	color: @color-black;

	h1, h2, h3, h4, h5 {
		text-align: left;
		color: @color-blue;
		margin: 0.5rem 0 1rem;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3.2rem;
	}

	h3 {
		font-size: 2.8rem;
	}

	h4 {
		font-size: 2.4rem;
	}

	h5 {
		font-size: 2rem;
	}

	strong, b {
		font-weight: bold;
	}

	em, i {
		font-style: italic;
	}

	.marker {
		background-color: yellow;
	}

	p {
		margin-bottom: 1rem;
	}

	.underline {
		text-decoration: underline;
	}

	img {
		display: block;
		width: auto;
		max-width: 100%;
		margin: 2rem auto;
	}

	blockquote {
		position: relative;
		margin: 6rem 0;
		padding: 6rem 0 5rem;
		text-align: center;
		font-style: italic;

		* {
			font-style: italic;
		}

		p {
			margin-bottom: 1rem;
		}

		&:before, &:after {
			content: "";
			position: absolute;
			display: block;
			left: 0;
			height: 17px;
			width: 100%;
			background-image: url("../images/icon/icon-quote.jpg"), url("../images/icon/icon-point.jpg");
			background-position: center top, left 11px;
			background-repeat: no-repeat, repeat-x;
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}
	}

	ul {
		margin-bottom: 1rem;

		li {
			position: relative;
			padding-left: 2rem;

			&:before {
				content: '';
				display: inline-block;
				position: absolute;
				top: 0.8rem;
				left: 0;
				width: 9px;
				height: 9px;
				.borderRadius(100%);
				border: 1px solid @color-blue-light;
			}
		}
	}

	ol {
		margin-bottom: 1rem;

		li {
			list-style-type: decimal;
			list-style-position: inside;
			margin: 0;
		}
	}
}

.bg-dark .text {
	color: @color-white;

	h1, h2, h3, h4, h5 {
		color: @color-blue-light;
	}
}
