@color-white: #ffffff;
@color-grey-lighter: #edeff2;
@color-grey-light: #cbcdd0;
@color-grey: #aeb0b3;
@color-grey-dark: #8e9093;
@color-grey-darker: #4f4e4e;
@color-black: #000000;

@color-grey-header: #f4f4f4;
@color-grey-filters: #dfdfdf;
@color-grey-news: #dfdfdf;

@color-grey-lets-talk: #cfd0d2;

@color-blue-light: #3fafea;
//@color-blue: #083755;
@color-blue-gradient: #0b517b;
@color-blue: #083755;
//@color-blue-dark: #283346;
//@color-blue-dark: #0e3151;
@color-blue-darker: #012344;
@color-blue-dark: #012d52;
@color-menu-blue: #12334b;
@color-menu-blue-dark: #0d293d;
@color-orange: #e59c44;
//@color-orange-dark: #cc9655;
//@color-orange-dark: #df9b52;
@color-orange-dark: #f59c4c;
@color-orange-darker: #d07d19;
@color-orange-darkest: #cd9959;

@color-red-dark: #9c0000;

@color-transparent-black: rgba(0, 0, 0, 0.3);
@color-transparent-less-white: rgba(255, 255, 255, 0.8);
@color-transparent-white: rgba(255, 255, 255, 0.3);
@color-transparent-more-white: rgba(255, 255, 255, 0.2);
@color-transparent-most-white: rgba(255, 255, 255, 0.1);

.gradient-white-transparent() {
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
}

.gradient-grey-vertical() {
	background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.gradient-grey-radial() {
	background: #113d6b;
	background: -moz-radial-gradient(center, ellipse cover, @color-grey-lighter 0%, @color-grey-light 100%);
	background: -webkit-radial-gradient(center, ellipse cover, @color-grey-lighter 0%, @color-grey-light 100%);
	background: radial-gradient(ellipse at center, @color-grey-lighter 0%, @color-grey-light 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-grey-lighter', endColorstr='@color-grey-light', GradientType=1);
}

.gradient-blue-radial() {
	background: #113d6b;
	background: -moz-radial-gradient(center, ellipse cover, @color-blue-gradient 0%, @color-blue-darker 100%);
	background: -webkit-radial-gradient(center, ellipse cover, @color-blue-gradient 0%, @color-blue-darker 100%);
	background: radial-gradient(ellipse at center, @color-blue-gradient 0%, @color-blue-darker 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-blue-gradient', endColorstr='@color-blue-darker', GradientType=1);
}