body > footer {
	display: block;
	padding: 4rem 0 3.5rem;
	background-color: @color-blue-dark;
	font-size: 0;
	margin-top: -1px;

	.container > * {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: ~"calc(25% - 1px)";
		min-height: 100px;
		padding: 0 10px;

		&:first-child {
			padding: 0 10px 0 0;
		}

		&:last-child {
			padding: 0 0 0 10px;
		}
	}

	nav {

		ul {
			display: block;
			font-size: 0;
		}

		li {
			display: inline-block;
			width: ~"calc(50% - 1px)";
			margin-bottom: 0.8rem;

			a {
				display: inline-block;
				font-size: 2rem;
				text-transform: uppercase;
				color: @color-white;
				opacity: 0.8;
			}
		}
	}

	.contacts {

		li {
			display: block;
			margin-bottom: 0.8rem;

			a {
				position: relative;
				display: inline-block;
				font-size: 2rem;
				text-transform: uppercase;
				color: @color-white;
				margin-left: 30px;
				opacity: 0.8;
				.transition("all 0.3s ease");

				&:before {
					color: @color-orange-dark;
					font-size: 2.4rem;
					position: absolute;
					top: 0;
					bottom: 0;
					left: -30px;
					line-height: 25px;
				}

				&:after {
					content: '';
					position: absolute;
					top: 100%;
					left: 0;
					width: 0;
					height: 2px;
					background-color: @color-white;
					.transition("all 0.3s ease");
				}

				&:hover {
					opacity: 1;

					&:after {
						width: 100%;
					}
				}

				&.fa-envelope {

					&:before {
						font-size: 1.9rem;
					}
				}

				&.fa-skype {

					&:before {
						font-size: 2.2rem;
					}
				}
			}
		}
	}

	.buttons {

		.btn {
			position: absolute;
			left: 10px;
			width: ~"calc(100% - 20px)";
			padding-left: 1rem;
			padding-right: 1rem;
			.verticalAlign();

			&:hover {
				.transform(translateY(-50%) scale(1.02));
			}

			&:active {
				.transform(translateY(-50%) scale(1));
			}
		}
	}

	.social {

		ul {
			position: absolute;
			right: 0;
			width: ~"calc(100% - 10px)";
			text-align: right;
			.verticalAlign();
		}

		li {
			margin: 0 5px;

			&:first-of-type {
				margin: 0 5px 0 0;
			}

			&:last-of-type {
				margin: 0 0 0 5px;
			}
		}
	}
}