body > header {
	position: relative;

	.header-main {
		@footer-main-height: 11.8rem;
		@footer-main-padding: 1.8rem;
		display: block;
		height: @footer-main-height;
		background-color: @color-grey-header;
		padding: @footer-main-padding 0;

		.logo-main {
			position: relative;
			display: inline-block;
			float: left;
			width: 18rem;
			.transition("all 0.25s ease");
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				left: -90px;
				top: -15px;
				width: 50px;
				height: 110px;
				opacity: .2;
				.transform(rotate(35deg) skewY(-35deg));
				.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
				background-color: @color-grey-header;
			}

			img {
				width: 100%;
			}

			&:hover {
				.transform(scale(1.02));

				&:before {
					left: 120%;
					.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
				}
			}

			&:active {
				.transition("all 0s");
				.transform(scale(1));
			}
		}

		.buttons {
			display: block;
			clear: none;
			float: right;
			padding: 0;
			height: @footer-main-height - 2*@footer-main-padding;

			> * {
				display: inline-block;
				.verticalAlign();
			}

			.fa {
				position: relative;
				margin: 0 2.5rem 0 5rem !important;
				font-size: 2rem;
				line-height: 1;
				text-transform: uppercase;
				color: @color-blue-dark;
				border-bottom: 0.2rem solid transparent;
				z-index: 1;
				.transition("all 0.2s ease");

				&:before {
					display: block;
					position: absolute;
					top: -1rem;
					left: -5rem;
					width: 3.8rem;
					height: 3.8rem;
					line-height: 3.4rem;
					font-size: 2rem;
					color: @color-blue-dark;
					text-align: center;
					.borderRadius(100%);
					border: 0.2rem solid @color-orange;
					.transition("all 0.2s ease");
				}

				&:after {
					content: '';
					position: absolute;
					top: -0.8rem;
					left: -4.8rem;
					width: 3.4rem;
					height: 3.4rem;
					background-color: @color-orange;
					z-index: -1;
					opacity: 0;
					.borderRadius(100%);
					.transform(scale(0));
					.transition("all 0.25s ease");
				}

				&:hover {
					border-bottom-color: fadeout(@color-blue-dark, 80%);

					&:before {
						color: @color-white;
					}

					&:after {
						opacity: 1;
						.transform(scale(1));
					}
				}

				&:active {
					&:before, &:after {
						.transition("all 0s");
						.transform(scale(0.97));
					}
				}
			}

			.btn {

				&:hover {
					.transform(scale(1.02) translateY(-50%));
				}

				&:active {
					.transform(scale(0.97) translateY(-50%));
				}
			}
		}
	}

	.header-nav {
		position: relative;
		width: 100%;
		height: 75px;
		overflow: hidden;
		background-image: url("../images/bg/bg-nav.jpg");
		background-repeat: no-repeat;
		background-position: center top;
		z-index: 2;

		ul {
			display: block;
			padding: 25px 0 0;
			text-align: center;
		}

		li {
			margin: 0 12px;

			a {

				&:before {
					display: none;
				}

				&:hover {
					color: @color-orange;
				}

			}

			&.active {

				a {
					color: @color-orange;

					&:after {
						content: '';
						display: block;
						position: absolute;
						top: ~"calc(100% + 17px)";
						left: 0;
						right: 0;
						margin: auto;
						width: 16px;
						height: 16px;
						.borderRadius(100%);
						background-color: @color-orange;
					}
				}
			}
		}

		&.nav-main {
			position: absolute;
			background-image: none;
			top: ~"calc(100% + 20px)";
			left: 0;

			ul {
				padding: 20px 0 0;
			}

			li {

				&.active {

					a:after {
						display: none;
						//top: ~"calc(100% + 22px)";
					}
				}
			}
		}

		.logo-menu {
			display: none;
			position: absolute;
			top: 24px;
			left: 0;
			right: 0;
			margin: auto;
			.transition("all 0.25s ease");
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				left: -95px;
				top: -15px;
				width: 50px;
				height: 110px;
				opacity: .2;
				.transform(rotate(35deg) skewY(-35deg));
				.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
				background-color: @color-blue-dark;
			}

			&:hover {
				.transform(scale(1.02));

				&:before {
					left: 120%;
					.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
				}
			}

			&:active {
				.transition("all 0s");
				.transform(scale(1));
			}
		}
	}
}