/*LESS INIT*/
// Variables
@import "colors.less";
// Globals
@import "globals/reset.less";
@import "globals/mixins.less";
@import "header.less";
@import "footer.less";
@import "typography.less";
// Components
@import "components/breadcrumbs.less";
@import "components/buttons.less";
@import "components/filters.less";
@import "components/forms.less";
@import "components/nav.less";
//@import "components/pagination.less";
@import "components/social.less";
@import "components/subscribers.less";
@import "components/text.less";
@import "components/modals.less";
// Libs
@import "libs/lib-slick.less";
@import "libs/lib-selectrics.less";

/*VARIABLES*/
@container-width: 960px;
@container-padding: 0;

/*HELPERS*/
* {
	.borderBox();
	outline: none;
	.backfaceVisibility(hidden);

	&:before, &:after {
		.borderBox();
		.backfaceVisibility(hidden);
	}
}

a {
	text-decoration: none;

	&:hover, &:active, &:focus {
		outline: 0;
	}

	&:hover {
		text-decoration: none;
	}
}

img {
	display: block;
}

.fa {
	.font-main();

	&:before {
		.font-awesome();
	}
}

html {
	font-size: 62.5%;

	body {
		min-width: @container-width + 2*@container-padding;
		.font-main();
		font-size: 1.7rem;
		line-height: 1.25;
		letter-spacing: 0.1rem;
		color: @color-black;
	}

	&.open {
		overflow: hidden;
	}
}

.container {
	position: relative;
	width: @container-width;
	margin: 0 auto;
	padding: 0 @container-padding;

	&:after {
		.clear();
	}
}

select {
	opacity: 0;
}

/*FONTS*/
h1, h2 {
	position: relative;
	display: block;
	font-size: 5rem;
	text-transform: uppercase;
	margin-bottom: 2.5rem;
	color: @color-blue;

	.selectricWrapper {
		vertical-align: middle;
		padding: 0 20px;
		margin: 0 0 8px 12px;

		&.selectricOpen {
			margin: 0 0 10px 12px;
		}
	}

	&.title-line {

		span {
			position: relative;
			color: @color-blue;
			background-color: @color-white;
			padding-right: 2rem;
			z-index: 2;
		}

		a {
			//.font-mensch();
			position: relative;
			display: inline-block;
			color: @color-orange-dark;
			background-color: @color-white;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			padding: 0 3.2rem 0 2rem;
			margin-left: 1rem;
			vertical-align: middle;
			font-size: 2rem;
			font-weight: bold;
			//letter-spacing: -0.2px;
			top: -0.5rem;
			.transition("all 0.2s ease");

			&:before {
				content: "\f101";
				.font-awesome();
				position: absolute;
				font-size: 2rem;
				line-height: 2.55rem;
				top: 0;
				bottom: 0;
				right: 0;
				padding-right: 1.2rem;
				background-color: @color-white;
				margin: auto;
				.transition("all 0.2s ease");
			}

			&:hover {

				&:before {
					.transform(translateX(0.2rem));
				}
			}
		}

		&:before {
			content: '';
			position: absolute;
			right: 0;
			top: 0.4rem;
			bottom: 0;
			margin: auto;
			width: 100%;
			height: 1px;
			background-color: @color-grey-dark;
		}

		&.title-light {

			span {
				color: @color-white;
				background-color: @color-blue;
			}

			&:before {
				background-color: @color-white;
			}

			+ .title-info {
				color: @color-white;
			}
		}

		&.title-bg {

			span {
				background-color: transparent;
			}

			&:before {
				display: none;
			}

			strong {
				position: absolute;
				right: 0;
				top: 0.4rem;
				bottom: 0;
				margin: auto;
				width: 80%;
				height: 1px;
				background-color: @color-grey-dark;
			}

			&.title-light {

				strong {
					background-color: @color-white;
				}
			}
		}
	}

	&.title-grey {

		span {
			background-color: @color-grey-lets-talk;
		}

		.selectricWrapper {
			background-color: @color-grey-lets-talk;
		}
	}

	&.title-dots {
		font-size: 4rem;
		margin-bottom: 4rem;
		text-align: center;
		margin-top: -10px;

		span {

			&:before, &:after {
				content: '';
				display: inline-block;
				width: 1rem;
				height: 1rem;
				background-color: @color-blue;
				.borderRadius(100%);
				margin-bottom: 0.8rem;
			}

			&:before {
				margin-right: 2.5rem;
			}

			&:after {
				margin-left: 2.5rem;
			}
		}

		&.title-light {
			color: @color-white;

			span {
				&:before, &:after {
					background-color: @color-white;
				}
			}

			+ .title-info {
				color: @color-white;
			}
		}

		&.title-orange {
			color: @color-orange;

			span {
				&:before, &:after {
					background-color: @color-orange;
				}
			}

			+ .title-info {
				color: @color-white;
			}
		}
	}

	+ .title-info {
		margin: -2rem 0 2rem;
		font-size: 1.6rem;
		color: @color-blue;
		opacity: 0.6;
	}
}

h1 {
	margin-bottom: 3.5rem;
}

h3 {
	position: relative;
	display: block;
	font-size: 2.6rem;
	text-transform: uppercase;
	margin-bottom: 5px;
}

/*MAIN STYLES*/
.games-categories {
	display: block;

	ul {
		display: block;
	}

	li {
		position: relative;
		display: inline-block;
		margin-bottom: 13.333333px;

		a {
			display: block;
			height: 100%;
			color: @color-white;

			&:hover {
				p {
					opacity: 1;
				}

				img + img {
					opacity: 1;
				}
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			+ img {
				opacity: 0;
				.transition("all 0.5s ease")
			}
		}

		h3 {
			font-size: 3rem;
			padding: 0.25rem 1rem;
			margin-bottom: 0;
		}

		p {
			position: relative;
			font-size: 1.6rem;
			text-transform: uppercase;
			padding: 0 1.2rem;
			margin-top: -0rem;
			opacity: 0;
			.transition("all 0.3s ease");
		}
	}

	.block-01 {
		width: 230px;
		height: 230px;
	}

	.block-02 {
		width: 473.333333px;
		height: 230px;
	}

	.block-03 {
		width: 230px;
		height: 473.333333px;
	}
}

.product-presentation {
	position: relative;
	display: block;
	height: 205px;
	//background-image: url("../images/bg/bg-subscriber-light.jpg");
	//background-position: center top;
	//background-size: cover;
	//background-repeat: no-repeat;
	background-color: @color-orange;
	overflow: hidden;

	.container {
		display: block;
		position: relative;
		height: 205px;
		text-align: center;
		color: @color-white;
		.transition("all 0.5s ease");
		pointer-events: none;
	}

	input, textarea, .input-recaptcha, strong, p, .btn {
		pointer-events: all;
	}

	form {
		text-align: left;

		.input:not(.input-recaptcha) {
			float: left;
			width: ~"calc(50% - 10px)";
			margin-right: 20px;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}
	}

	.container.stage-01 {

		.btn {
			margin: 0.8rem 0 0.5rem;

			&:hover {
				+ p {
					opacity: 1;
				}
			}
		}

		p {
			opacity: 0.6;
			.transition("all 0.3s ease");
		}
	}

	.container.stage-02 {
		padding-top: 0;
		padding-bottom: 0;
		display: table;

		form {
			width: 100%;
			display: table-cell;
			vertical-align: middle;
		}

		.form-info {
			display: block;
			clear: both;
			float: left;
			width: ~"calc(50% - 10px)";
			margin: 0 20px 0 0;
		}

		.buttons {
			display: block;
			float: left;
			clear: none;
			width: ~"calc(50% - 10px)";
			padding: 0;

			.input-recaptcha {
				float: none;
			}
		}
	}

	.container.stage-03, .container.stage-04 {
		position: absolute;
		padding-top: 38px;
		font-size: 2.6rem;
		left: 0;
		right: 0;
		top: 100%;
		margin: auto;

		img {
			display: inline-block;
		}

		strong {
			display: block;
			font-size: 4rem;
			text-transform: uppercase;
			margin: -0.5rem 0 0;
		}

		p {
			display: block;
			text-transform: uppercase;
			margin: -0.5rem 0 0;
			opacity: 0.6;
		}
	}

	&.form {

		.stage-01 {
			margin-top: -205px;
		}
	}

	&.loading {

		form {
			pointer-events: none;
			.animation(blinker 1s linear infinite);
		}

		@keyframes blinker {
			50% {
				opacity: 0.3;
			}
		}
	}

	&.success {

		.stage-01 {
			margin-top: -410px;
		}

		.stage-03 {
			top: 0;
		}
	}

	&.error {

		.stage-01 {
			margin-top: -410px;
		}

		.stage-04 {
			top: 0;
		}
	}

}

.articles-list {
	display: block;
	font-size: 0;

	&.slider {
		width: ~"calc(100% + 20px)";
		margin-left: -10px;
		margin-right: -10px;

		.slick-list {
			padding: 5px 0 40px;
		}

		li {
			margin: 0 10px;

			&:nth-of-type(4n) {
				margin: 0 10px;
			}

			&:nth-of-type(4n + 1) {
				clear: none;
			}
		}
	}

	li {
		position: relative;
		display: block;
		float: left;
		height: 435px;
		width: ~"calc(25% - 15px)";
		font-size: 1.6rem;
		margin-right: 20px;

		&:nth-of-type(4n) {
			margin-right: 0;
		}

		&:nth-of-type(4n + 1) {
			clear: both;
		}

		a:hover {
			img {
				.transform(scale(1.015) translateY(-1.5px));
				.boxShadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23););
			}
		}

		a:active {
			img {
				.transition("all 0s");
				.transform(scale(1) translateY(0px));
				.boxShadow(none);
			}
		}
	}

	img {
		width: 100%;
		margin-bottom: 20px;
		.transition("all 0.2s ease");
	}

	.details {
		height: 155px;
	}

	h3 {
		letter-spacing: 0.02rem;
		color: @color-blue;

		a {
			color: @color-blue;
			.transition("all 0.2s ease");

			&:hover {
				color: @color-black;
			}
		}
	}

	p {
		color: @color-grey-darker;
		text-align: justify;
	}

	a.read-more {
		display: inline-block;
		position: absolute;
		bottom: 0;
		right: 0;
		color: @color-orange;
		font-size: 1.4rem;
		text-transform: capitalize;
		border-bottom: 1px solid transparent;
		.transition("all 0.2s ease");

		&:hover {
			border-bottom-color: @color-orange-dark;
		}
	}

	.fa {
		display: none;
	}
}

.games-list {
	display: block;
	font-size: 0;
	width: ~"calc(100% + 20px)";
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;

	&.slider {
		width: ~"calc(100% + 20px)";
		margin-left: -10px;
		margin-right: -10px;

		.slick-track {
			margin: 0 auto;
		}

		.slick-list {
			padding: 5px 0 50px;
		}

		li {
			margin: 0 10px;

			&:nth-of-type(4n) {
				margin: 0 10px;
			}

			&:nth-of-type(4n + 1) {
				clear: none;
			}
		}

		&.cols-3 {
			width: ~"calc(100% + 20px)";
			margin-left: -10px;
			margin-right: -10px;

			li {
				width: ~"calc(33.333333% - 13.333333px)";
				margin: 0 10px !important;

				&:nth-of-type(4n + 1) {
					clear: none;
				}

				&:nth-of-type(3n + 1) {
					clear: none;
				}
			}
		}
	}

	li {
		position: relative;
		display: block;
		float: left;
		width: ~"calc(25% - 20px)";
		font-size: 1.6rem;
		margin: 20px 10px 0;

		&:nth-of-type(-n+4) {
			margin-top: 0;
		}

		> .fa {
			display: none;
		}

		.hover {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: @color-transparent-white;
			opacity: 0;
			.transition("all 0.5s ease");
		}

		.game {
			position: relative;
			display: block;
			width: 100%;
			overflow: hidden;
			.transition("all 0.2s ease");

			* {
				pointer-events: none;
			}

			&:hover {
				.transform(scale(1.015) translateY(-1.5px));
				.boxShadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23););

				.hover {
					opacity: 1;
				}
			}

			&:active {
				.transition("all 0s");
				.transform(scale(1) translateY(0px));
				.boxShadow(none);
			}
		}

		h2, h3 {
			margin-top: 1.2rem;
			margin-bottom: 0;
			font-size: 2.4rem;
			font-weight: bold;
			text-align: center;
			color: @color-blue;

			&:before, &:after {
				content: '';
				display: inline-block;
				vertical-align: bottom;
				margin-bottom: 1rem;
				width: 8px;
				height: 8px;
				background-color: @color-blue;
				.borderRadius(100%);
			}

			&:before {
				margin-right: 10px;
			}

			&:after {
				margin-left: 10px;
			}

			a {
				color: @color-blue;
				font-weight: bold;
				.transition("all 0.2s ease");

				&:hover {
					color: darken(@color-blue, 20%);
				}
			}

			&.job-title {
				text-align: left;
				font-weight: normal;

				&:before, &:after {
					display: none;
				}
			}
		}

		.game-info {
			display: block;
			color: @color-blue;
			font-size: 1.8rem;
			margin-top: 1.2rem;
			text-transform: uppercase;
			opacity: 0.9;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);

			&.info-light {
				color: @color-white;
			}
		}

		.btn {
			margin-top: 1.2rem;
			width: 100%;
		}
	}

	img {
		width: 100%;
	}

	&.cols-3 {

		li {
			width: ~"calc(33.333333% - 20px)";
			margin: 20px 10px 0;

			&:nth-of-type(-n+4) {
				margin-top: 20px;
			}

			&:nth-of-type(-n+3) {
				margin-top: 0;
			}

			h2, h3 {
				font-size: 2.6rem;

				&:before, &:after {
					width: 10px;
					height: 10px;
				}
			}
		}
	}
}

.news-list {
	display: inline-block;
	width: ~"calc(100% + 20px)";
	margin-left: -10px;
	margin-right: -10px;

	li {
		display: block;
		float: left;
		margin: 10px;
		position: relative;

		&.news-01 {
			width: 665px;
			height: 330px;

			.illustration {
				display: block;
				float: left;
				width: 420px;
			}

			img {
				height: 330px;
			}

			.details {
				display: block;
				float: left;
				width: ~"calc(100% - 420px)";
				height: 275px;
				padding: 10px 20px 0;
			}
		}

		&.news-02 {
			width: 450px;
			height: 455px;

			h2 {
				height: 5.6rem;
				overflow: hidden;
			}

			img {
				height: 235px;
			}

			.details {
				height: 180px;
				padding: 10px 20px 0;
			}
		}

		&.news-03 {
			width: 275px;
			height: 330px;

			img {
				height: 144px;
			}

			.details {
				height: 152px;
			}

			a.read-more {
				right: 0;
			}
		}

		&.news-04 {
			width: 235px;
			height: 455px;

			h2 {
				height: 5.6rem;
				overflow: hidden;
			}

			img {
				height: 235px;
			}

			a.read-more {
				right: 0;
			}
		}

		.details {
			height: 180px;
			padding: 10px 0 0;
		}

		.illustration {
			display: block;
			width: 100%;
			min-height: 130px;
			position: relative;
			background-image: url("../images/loader.gif");
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 90px auto;

			//&:after {
			//	content: "";
			//	display: block;
			//	position: absolute;
			//	left: 50%;
			//	top: 50%;
			//	margin: auto;
			//	width: 70px;
			//	height: 70px;
			//	border: 5px solid fadeout(@color-blue, 50%);
			//	border-top-color: @color-blue;
			//	.borderRadius(100%);
			//	.animation(rotateSpinner 1.5s infinite linear);
			//	.transformOrigin(50% 50%);
			//	z-index: 1;
			//}
			//
			//&:before {
			//	content: "";
			//	display: block;
			//	position: absolute;
			//	left: 50%;
			//	top: 50%;
			//	margin: auto;
			//	width: 55px;
			//	height: 55px;
			//	border: 5px solid fadeout(@color-blue, 50%);
			//	border-top-color: @color-blue;
			//	.borderRadius(100%);
			//	.animation(rotateSpinnerRevert 1.5s infinite linear);
			//	.transformOrigin(50% 50%);
			//	z-index: 1;
			//}

			&:hover {
				img {
					.transform(scale(1.015) translateY(-1.5px));
					.boxShadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23););
				}
			}

			&:active {
				img {
					.transition("all 0s");
					.transform(scale(1) translateY(0px));
					.boxShadow(none);
				}
			}
		}

		img {
			position: relative;
			width: 100%;
			.transition("all 0.2s ease");
			z-index: 2;
		}

		&.news-grey {
			background-color: @color-grey-news;
		}

		&.news-blue {
			background-color: @color-blue;

			.illustration {

				&:before, &:after {
					border: 5px solid fadeout(@color-white, 50%);
					border-top-color: @color-white;
				}
			}

			h2 {
				a {
					color: @color-orange-dark;

					&:hover {
						color: darken(@color-orange-dark, 10%);
					}
				}
			}

			.fa-calendar {
				color: @color-blue-light;
			}

			p {
				color: @color-white;
			}

			a.read-more {
				color: @color-blue-light;

				&:hover {
					border-bottom-color: @color-blue-light;
				}
			}
		}

		&.news-orange {
			background-color: @color-orange-dark;

			.fa-calendar {
				color: @color-blue;
			}

			p {
				color: @color-white;
			}

			a.read-more {
				color: @color-blue;

				&:hover {
					border-bottom-color: @color-blue;
				}
			}
		}

		&.subscriber.subscriber-dark {
			width: ~"calc(100% - 20px)";

			h3 {
				color: @color-white;
				font-size: 2.6rem;
				line-height: 1.25;
				margin-bottom: 13px;
			}
		}

		h2, h3 {
			color: @color-blue;
			font-size: 2.4rem;
			line-height: 1.2;
			margin-bottom: -1px;

			a {
				color: @color-blue;
				.transition("all 0.2s ease");

				&:hover {
					color: @color-black;
				}
			}
		}

		.fa-calendar {
			position: relative;
			display: block;
			margin-bottom: 5px;
			font-size: 2rem;
			color: @color-orange-dark;
			padding-left: 2rem;

			&:before {
				position: absolute;
				left: 0;
				bottom: 0.5rem;
				font-size: 1.3rem;
			}
		}

		p {
			font-size: 1.6rem;
			text-align: justify;
		}

		a.read-more {
			position: absolute;
			bottom: 10px;
			right: 20px;
			display: inline-block;
			float: right;
			color: @color-orange-dark;
			font-size: 1.4rem;
			text-transform: capitalize;
			border-bottom: 1px solid transparent;
			.transition("all 0.2s ease");

			&:hover {
				border-bottom-color: @color-orange-dark;
			}
		}
	}
}

.partners-list {
	display: block;

	li {
		display: table;
		width: 100%;
		//min-height: 150px;
		margin-bottom: 25px;

		&:last-of-type {
			margin-bottom: 0;
		}

		.illustration {
			display: table-cell;
			vertical-align: middle;
			width: 230px;
		}

		.details {
			display: table-cell;
			vertical-align: middle;
			width: ~"calc(100% - 230px)";
			color: @color-white;
		}

		a {
			display: inline-block;
			max-width: ~"calc(100% - 40px)";
			max-height: 90%;

			img {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
				.transition("all 0.2s ease")
			}

			&:hover {

				img {
					.transform(scale(1.05));
				}
			}

			&:active {
				img {
					.transform(scale(1));
					.transition("all 0s");
				}
			}
		}

		p {
			display: block;
			margin-bottom: 15px;
			text-align: justify;
		}

		strong {
			display: block;
			font-size: 2rem;

			span {
				margin-right: 5px;
			}

			.name {
				color: @color-orange;
			}

			.company {
				color: @color-blue-light;
			}
		}
	}
}

.partners-img-list {
	font-size: 0;
	text-align: center;

	li {
		position: relative;
		display: inline-block;
		width: ~"calc(20% - 1px)";
		height: 65px;
		font-size: 1.6rem;
		margin-bottom: 20px;
	}

	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 90%;
		max-height: 100%;
		.filter(grayscale(100%));
		.transition("all 0.2s ease");
	}

	a {
		&:hover {

			img {
				.transform(scale(1.05));
				.filter(grayscale(0));
			}
		}

		&:active {
			img {
				.transition("all 0s");
				.transform(scale(1));
			}
		}
	}
}

.exhibitions-list {
	font-size: 0;
	text-align: center;

	li {
		position: relative;
		display: inline-block;
		width: ~"calc(30% - 1px)";
		height: 140px;
		font-size: 1.6rem;
		margin-bottom: 20px;
	}

	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 80%;
		max-height: 100%;
		.transition("all 0.2s ease");
	}

	a {
		&:hover {

			img {
				.transform(scale(1.03));
			}
		}

		&:active {
			img {
				.transition("all 0s");
				.transform(scale(1));
			}
		}
	}
}

.vacancy-list {
	display: inline-block;
	width: ~"calc(100% + 20px)";
	margin-left: -10px;
	margin-right: -10px;

	li {
		position: relative;
		display: block;
		float: left;
		margin: 10px;

		img {
			width: 100%;
			margin-bottom: 10px;
		}

		.btn {
			position: absolute;
			right: 20px;
			bottom: 40px;
		}

		&.block-01 {
			width: 580px;
			height: 325px;
		}

		&.block-02 {
			width: 360px;
			height: 325px;
		}

		&.block-03 {
			width: 260px;
			height: 375px;
		}

		&.block-04 {
			width: 300px;
			height: 375px;

			.btn {
				span {
					display: none;
				}
			}
		}

		&.block-05 {
			width: 360px;
			height: 375px;

			.btn {
				span {
					display: none;
				}
			}
		}

		&.block-06 {
			width: 260px;
			height: 300px;
		}

		&.block-07 {
			width: 680px;
			height: 300px;
		}

		&.block-vacancy {
			padding: 20px;

			h3 {
				color: @color-blue;
				font-size: 3.2rem;
				margin-bottom: 3rem;
			}
		}

		&.block-blue {
			background-image: url("../images/bg/bg-vacancy-blue.jpg");
			background-position: left top;
			background-size: 100% 100%;

			h3 {
				color: @color-orange;
			}

			p {
				color: @color-white;
			}
		}

		&.block-orange {
			background-color: @color-orange-dark;

			p {
				color: @color-white;
			}
		}

		&.block-grey {
			background-image: url("../images/bg/bg-vacancy-grey.jpg");
			background-position: left top;
			background-size: 100% 100%;

			&.block-big {
				background-image: url("../images/bg/bg-vacancy-grey-big.jpg");
			}
		}

		&.team-member {

			h3 {
				font-size: 2.8rem;
				color: @color-blue;

				span {
					display: inline-block;
					vertical-align: bottom;
					font-size: 2rem;
					margin-bottom: 0.3rem;
					color: @color-orange;
				}
			}

			.quote {
				position: absolute;
				left: 0;
				bottom: -2px;
				margin: 0;
				padding: 1.6rem 0;
				font-size: 1.5rem;
				text-align: justify;

				&:before, &:after {
					content: "";
					position: absolute;
					display: block;
					left: 0;
					height: 10px;
					width: 100%;
					background-image: url("../images/icon/icon-quote.jpg"), url("../images/icon/icon-point.jpg");
					background-position: center top, left 6px;
					background-repeat: no-repeat, repeat-x;
					background-size: auto 10px, auto auto;
				}

				&:before {
					top: 0;
				}

				&:after {
					bottom: 0;
				}
			}
		}

		&.linked-in {
			background-color: @color-blue;

			a {
				position: relative;
				display: block;
				width: 100%;
				height: 100%;
				text-align: center;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: ~"calc(100% - 12px)";
					height: ~"calc(100% - 12px)";
					border: 1px solid @color-transparent-white;
				}

				&:hover {
					.fa {
						.transform(scale(1.1));
					}
				}

				&:active {
					.fa {
						.transition("all 0s");
						.transform(scale(1));
					}
				}
			}

			.fa {
				display: block;
				width: 69px;
				height: 69px;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				color: @color-white;
				.transition("all 0.2s ease");

				&:before {
					font-size: 80px;
					line-height: 69px;
				}
			}
		}
	}
}

.partners {

	ul {
		display: block;
		text-align: center;
		font-size: 0;

		&.slick-slider {
			margin-bottom: 20px;

			.slick-list {
				padding-bottom: 15px;
			}

			.slick-dots {
				position: relative;
				display: inline-block !important;
				vertical-align: bottom;
				min-width: 220px;
				height: 10px;
				padding: 0 20px;
				font-size: 0;

				&:before {
					content: '';
					position: absolute;
					top: 5px;
					left: 0;
					display: block;
					width: 100%;
					height: 1px;
					background-color: fadeout(@color-grey, 40%);
				}

				li {
					position: relative;
					display: inline-block;
					float: none;
					width: auto !important;
					height: auto !important;
					min-height: auto !important;
					margin: 0 10px !important;
					z-index: 2;
					background-color: transparent !important;

					&.slick-active {

						button {
							background-color: @color-white;
							border-color: @color-orange;
							.transform(scale(1.2));

							&:hover {
								.transform(scale(1.3));
							}

							&:active {
								.transform(scale(1.2));
							}
						}
					}

					button {
						display: block;
						width: 10px;
						height: 10px;
						text-indent: -50000px;
						.borderRadius(100%);
						background-color: @color-grey;
						border: 2px solid @color-grey;
						.transition("all 0.2s ease");

						&:hover {
							.transform(scale(1.1));
						}

						&:active {
							.transform(scale(1));
							.transition("all 0s");
						}
					}
				}
			}

			button.fa {
				color: fadeout(@color-grey-dark, 40%);
				background-color: transparent;
				width: 20px;
				left: 0;
				right: 0;
				bottom: -7px;
				margin: auto;
				position: absolute;
				.transition("all 0.2s ease");

				&:before {
					font-size: 24px;
					line-height: 24px;
				}

				&:hover {
					.transform(scale(1.2));
				}

				&:active {
					.transition("all 0s");
					.transform(scale(0.9));
				}
			}
		}
	}

	li.partner {
		position: relative;
		display: inline-block;
		font-size: 1.6rem;
		width: ~"calc(20% - 1px)";
		height: 95px;
		margin-bottom: 30px;
		//
		//&:nth-of-type(5n + 1) {
		//	clear: both;
		//}

		img {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			display: block;
			max-width: 75%;
			max-height: 100%;
			.filter(grayscale(100%));
			.transition("all 0.2s ease");
			.transition("all 0.2s ease");
		}

	}

	a {

		&:hover {

			img {
				.filter(grayscale(0));
			}
		}

		&:active {

			img {
				.transition("all 0s");
				.transform(scale(0.97));
			}
		}
	}
}

.main-slider {
	height: 636px;
	max-height: 636px;
	background-image: url("../images/bg/bg-slider.jpg");
	background-repeat: no-repeat;
	background-position: center top;

	.container {
		width: 100%;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	a.game-link {
		opacity: 0;
	}

	.slick-list {
		//margin-bottom: 45px;
	}

	li {
		img {
			position: absolute;
			top: 0;
			left: -100%;
			right: -100%;
			height: 100%;
			margin: auto;
		}

		.illustration {
			img {
				position: relative;
				top: auto;
				left: auto;
				right: auto;
				height: auto;
			}
		}
	}

	li.slick-slide {
		display: block;
		width: 100%;
		overflow: hidden;

		.slide {
			display: table;
			height: 560px;
			padding: 150px 0 60px;
			margin: 0 auto;

			&.slide-big {
				width: 100%;
				height: 636px;
				position: relative;
				padding: 0;
				overflow: hidden;

				a.game-link {
					display: inline-block;
					position: absolute;
					bottom: 10%;
					left: ~"calc(50% - 345px)";
					margin: auto;
					color: #fbd888;
					font-size: 3.4rem;
					text-transform: uppercase;
					.transition("all 0.2s ease");
					opacity: 1;

					&:after {
						content: "\f105";
						.font-awesome();
						position: absolute;
						top: 0.7rem;
						right: -4.4rem;
						width: 3rem;
						color: #fbd888;
						height: 3rem;
						line-height: 2.6rem;
						font-size: 2.4rem;
						padding-left: 0.2rem;
						text-align: center;
						border: 2px solid #fbd888;
						.borderRadius(100%);
						.transition("all 0.2s ease");
					}

					&:hover {
						opacity: 0.7;

						&:after {
							.transform(translateX(3px));
						}
					}
				}

				&.slide-big-general {
					a.game-link {
						bottom: 46%;
						left: ~"calc(50% - 269px)";
						color: #ffffff;

						&:after {
							color: #ffffff;
							border: 2px solid #ffffff;
						}
					}
				}
			}
		}

		.illustration {
			display: table-cell;
			vertical-align: middle;
			width: 380px;
			text-align: center;

			img {
				display: inline-block;
				max-width: 80%;
				max-height: 100%;
			}

		}

		.details {
			display: table-cell;
			vertical-align: middle;
			//width: ~"calc(100% - 380px)";
			width: 580px;
			text-align: left;
			color: @color-white;
			padding-right: 120px;

			h2 {
				.font-salutino();
				color: @color-white;
				margin-top: -10px;
			}

			a.title-link {
				//.font-mensch();
				.font-main();
				position: relative;
				display: inline-block;
				float: right;
				color: @color-orange-dark;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				padding: 0 2rem 0 2rem;
				margin-top: 17px;
				margin-left: 1rem;
				vertical-align: bottom;
				font-size: 2.4rem;
				font-weight: bold;
				.transition("all 0.2s ease");

				&:before {
					content: "\f101";
					.font-awesome();
					position: absolute;
					font-size: 2rem;
					line-height: 3rem;
					top: 0;
					bottom: 0;
					right: 0;
					padding-right: 0;
					margin: auto;
					.transition("all 0.2s ease");
				}

				&:hover {

					&:before {
						.transform(translateX(0.2rem));
					}
				}
			}

			p {
				font-size: 1.8rem;
				line-height: 2rem;
				text-align: justify;
			}
		}

	}

	.slider-big {
		.slick-dots {
			top: -55px;
		}

		button.fa {
			bottom: 47px;
		}
	}

}

.game-slider {

	img {
		max-width: 100%;
	}

	.slider-for {

		li {
			position: relative;
			//min-height: 400px;
			background-color: @color-grey-light;

			img {
				//position: absolute;
				//top: 0;
				//bottom: 0;
				//left: 0;
				//right: 0;
				//margin: auto;
				//max-width: 100%;
				//max-height: 100%;
				width: 100%;
			}
		}
	}

	.slider-nav {
		width: ~"calc(100% + 10px)";
		margin-left: -5px;

		.slick-track {
			padding: 10px 0 5px;
		}

		li {
			position: relative;
			cursor: pointer;
			margin: 0 5px;
			//min-height: 89px;
			background-color: @color-grey-light;
			.transition("all 0.2s ease");

			img {
				//position: absolute;
				//top: 0;
				//bottom: 0;
				//left: 0;
				//right: 0;
				//margin: auto;
				//max-width: ~"calc(100% - 2px)";
				//max-height: ~"calc(100% - 2px)";
				width: 100%;
			}

			&:hover {
				.transform(scale(1.015) translateY(-1.5px));
				.boxShadow(0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23););
			}

			&:active {
				.transition("all 0s");
				.transform(scale(1) translateY(0px));
				.boxShadow(none);
			}
		}

		button.fa {
			background-color: @color-white;
			width: 26px;
			height: 22px;
			top: 0;
			bottom: 0;
			opacity: 0.4;

			&:before {
				line-height: 22px;
				color: @color-grey-darker;
			}

			&:hover {
				opacity: 0.8;
				.transform(scale(1.05));
			}

			&:active {
				.transform(scale(1));
			}
		}

		button.slick-prev {
			right: auto;
			left: 10px;
			padding-right: 3px;
		}

		button.slick-next {
			right: 10px;
			left: auto;
			padding-left: 3px;
		}
	}
}

.news-slider {

	.slider-for {

		li {
			position: relative;
			min-height: 500px;
			background-color: @color-grey-light;

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				max-width: 100%;
				max-height: 100%;
			}

			iframe {
				width: 100%;
				height: 500px;
			}
		}

		button.fa {
			background-color: @color-white;
			width: 42px;
			height: 36px;
			top: 0;
			bottom: 0;
			opacity: 0.4;

			&:before {
				line-height: 36px;
				color: @color-grey-darker;
				font-size: 4.2rem;
			}

			&:hover {
				opacity: 0.7;
				.transform(scale(1.03));
			}

			&:active {
				.transform(scale(1));
			}
		}

		button.slick-prev {
			right: auto;
			left: 10px;
			padding-right: 3px;
		}

		button.slick-next {
			right: 10px;
			left: auto;
			padding-left: 3px;
		}
	}

	.slider-nav {
		width: ~"calc(100% + 10px)";
		margin-left: -5px;

		.slick-track {
			padding: 10px 0 5px;
		}

		li {
			position: relative;
			cursor: pointer;
			margin: 0 5px;
			min-height: 85px;
			background-color: @color-grey-light;
			.transition("all 0.2s ease");

			img {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				max-width: ~"calc(100% - 2px)";
				max-height: ~"calc(100% - 2px)";
			}

			&:hover {
				.transform(scale(1.015) translateY(-1.5px));
				.boxShadow(0 2px 3px rgba(0, 0, 0, 0.16), 0 2px 3px rgba(0, 0, 0, 0.23););
			}

			&:active {
				.transition("all 0s");
				.transform(scale(1) translateY(0px));
				.boxShadow(none);
			}
		}

		button.fa {
			background-color: @color-white;
			width: 26px;
			height: 22px;
			top: 0;
			bottom: 0;
			opacity: 0.4;

			&:before {
				line-height: 22px;
				color: @color-grey-darker;
			}

			&:hover {
				opacity: 0.8;
				.transform(scale(1.05));
			}

			&:active {
				.transform(scale(1));
			}
		}

		button.slick-prev {
			right: auto;
			left: 10px;
			padding-right: 3px;
		}

		button.slick-next {
			right: 10px;
			left: auto;
			padding-left: 3px;
		}
	}
}

.events-slider {
	position: relative;
	overflow: hidden;
	//background-image: url("../images/bg/bg-grey-big.jpg");
	//background-position: center top;
	//background-repeat: no-repeat;
	.gradient-grey-radial();

	.container {
		pointer-events: none;
	}

	.illustration {
		position: relative;
		display: block;
		float: left;
		width: 50%;
		height: 200px;

		img {
			//min-width: 260px;
			max-width: ~"calc(100% - 20px)";
			max-height: 80%;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 2px;
			margin: auto;
			pointer-events: all;
		}
	}

	.details {
		display: table;
		float: left;
		width: 50%;
		height: 200px;

		.text {
			display: table-cell;
			vertical-align: middle;
		}

		p {
			max-height: 120px;
			margin-bottom: 10px;
			text-align: justify;
			pointer-events: all;
		}

		strong {
			display: block;
			font-size: 1.8rem;
			font-weight: bold;
			text-transform: uppercase;
			color: @color-blue-dark;
			pointer-events: all;

			.place {
				margin-right: 13px;
			}

			.dash {
				display: inline-block;
				vertical-align: bottom;
				font-size: 2.6rem;
				margin: 0 10px -5px 0;
			}

			.date {
				color: @color-orange;
			}
		}
	}

	.buttons {
		display: inline-block;
		width: 100%;
		margin: 50px 0 30px;
		text-align: center;

		.btn {
			pointer-events: all;
		}
	}

	.slick-dots, .fa {
		pointer-events: all;
	}
}

.team-members-list {
	display: block;

	&.slider {
		width: ~"calc(100% + 20px)";
		margin-left: -10px;
		margin-right: -10px;

		.slick-list {
			padding: 5px 0 40px;
		}

		li {
			margin: 0 10px;

			&:nth-of-type(4n) {
				margin: 0 10px;
			}

			&:nth-of-type(4n + 1) {
				clear: none;
			}
		}
	}

	.member {
		position: relative;
		display: block;
		float: left;
		width: ~"calc(25% - 15px)";
		font-size: 1.6rem;
		margin: 20px 20px 0 0;
		//.perspective(1000);

		//* {
		//	.backfaceVisibility(initial);
		//}

		.flipper {
			position: relative;
			display: block;
			width: 100%;
			height: 287px;
			overflow: hidden;
			//.transformStyle(preserve-3d);
			//.transition("all 0.5s ease");
		}

		&:hover {
			.back {
				top: 0;
			}
		}

		//&:hover {
		//
		//	.flipper {
		//		.transform(rotateX(180deg));
		//	}
		//
		//	.front {
		//		.illustration {
		//			pointer-events: none;
		//		}
		//	}
		//}

		&:nth-of-type(-n+4) {
			margin-top: 0;
		}

		&:nth-of-type(4n) {
			margin-right: 0;
		}

		&:nth-of-type(4n + 1) {
			clear: both;
		}

		.front, .back {
			display: block;
			width: 100%;
			height: 287px;
			padding: 6px;
			position: absolute;
			top: 0;
			left: 0;
			//.backfaceVisibility(hidden);
			.transition("all 0.4s ease");
		}

		.front {
			background-color: @color-white;
			top: 0;

			img {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				max-width: 95%;
				max-height: 90%;
			}

		}

		.back {
			background-color: @color-blue;
			//.transform(rotateX(180deg));
			top: -100%;

			.info {
				display: block;
				height: 100%;
				border: 1px solid @color-transparent-white;
				padding-top: 35px;
				text-align: center;
			}

			.details {
				position: relative;
				padding-bottom: 15px;

				&:after {
					content: '';
					position: absolute;
					top: 100%;
					left: 20px;
					width: ~"calc(100% - 40px)";
					height: 1px;
					background-color: fadeout(@color-transparent-white, 5%);
				}
			}

			h3 {
				color: @color-white;
				margin-bottom: 5px;
			}

			p {
				color: @color-orange;
			}
		}

		.illustration {
			position: relative;
			display: block;
			width: 100%;
			height: 225px;
			margin-bottom: 5px;
			background-color: #ccd3d8;
		}

		h3 {
			font-size: 2.2rem;
			margin-bottom: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		p {
			color: @color-grey-darker;
			text-transform: uppercase;
			font-size: 1.5rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.contact {
			display: block;
			padding-top: 18px;

			li {
				display: block;
				margin-bottom: 10px;

				a {
					position: relative;
					display: inline-block;
					font-size: 1.6rem;
					color: @color-white;
					margin-left: 25px;
					opacity: 1;
					.transition("all 0.3s ease");

					&:before {
						color: @color-orange-dark;
						font-size: 1.6rem;
						position: absolute;
						top: 0;
						bottom: 0;
						left: -25px;
						line-height: 22px;
					}

					&:after {
						content: '';
						position: absolute;
						top: 100%;
						left: 0;
						width: 0;
						height: 1px;
						background-color: @color-white;
						.transition("all 0.3s ease");
					}

					&:hover {

						&:after {
							width: 100%;
						}
					}

					&.fa-envelope {

						&:before {
							font-size: 1.9rem;
						}
					}

					&.fa-skype {

						&:before {
							font-size: 2.2rem;
						}
					}
				}

				span {
					position: relative;
					display: inline-block;
					font-size: 1.6rem;
					color: @color-white;
					margin-left: 25px;
					opacity: 1;
					.transition("all 0.3s ease");

					&:before {
						color: @color-orange-dark;
						font-size: 1.6rem;
						position: absolute;
						top: 0;
						bottom: 0;
						left: -25px;
						line-height: 22px;
					}

					&:after {
						content: '';
						position: absolute;
						top: 100%;
						left: 0;
						width: 0;
						height: 1px;
						background-color: @color-white;
						.transition("all 0.3s ease");
					}

					&.fa-envelope {

						&:before {
							font-size: 1.9rem;
						}
					}

					&.fa-skype {

						&:before {
							font-size: 2.2rem;
						}
					}
				}

				a.linkedin {
					display: inline-block;
					margin: 15px auto 0;
					padding: 4px 12px;
					opacity: 0.5;
					border: 1px solid @color-white;
					.borderRadius(14px);
					width: 100px;

					img {
						width: 100%;
					}

					&:after {
						display: none;
					}

					&:hover {
						opacity: 0.9;
						.transform(scale(1.05));
					}

					&:active {
						.transition("all 0s");
						.transform(scale(1));
					}
				}
			}
		}
	}
}

.slider, .slider-big, .slider-nav, .slider-for {
	text-align: center;

	.slick-slide {
		text-align: left;
	}

	.slick-dots {
		position: relative;
		display: inline-block !important;
		vertical-align: bottom;
		min-width: 220px;
		height: 10px;
		padding: 0 20px;
		font-size: 0;

		&:before {
			content: '';
			position: absolute;
			top: 5px;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			background-color: fadeout(@color-blue-light, 40%);
		}

		li {
			position: relative;
			display: inline-block !important;
			float: none;
			width: auto !important;
			height: auto !important;
			min-height: 0 !important;
			margin: 0 10px !important;
			z-index: 2;
			background-color: transparent !important;

			&.slick-active {

				button {
					background-color: #14324b;
					border-color: @color-orange;
					.transform(scale(1.2));

					&:hover {
						.transform(scale(1.3));
					}

					&:active {
						.transform(scale(1.2));
					}
				}
			}

			button {
				display: block;
				width: 10px;
				height: 10px;
				text-indent: -50000px;
				.borderRadius(100%);
				background-color: @color-white;
				border: 2px solid @color-white;
				.transition("all 0.2s ease");

				&:hover {
					.transform(scale(1.1));
				}

				&:active {
					.transform(scale(1));
					.transition("all 0s");
				}
			}
		}
	}

	button.fa {
		color: fadeout(@color-blue-light, 40%);
		background-color: transparent;
		width: 20px;
		left: 0;
		right: 0;
		bottom: -7px;
		margin: auto;
		position: absolute;
		.transition("all 0.2s ease");

		&:before {
			font-size: 24px;
			line-height: 24px;
		}

		&:hover {
			.transform(scale(1.2));
		}

		&:active {
			.transition("all 0s");
			.transform(scale(0.9));
		}
	}

	&.slider-dark {

		.slick-dots {

			&:before {
				background-color: fadeout(@color-grey, 40%);
			}

			li {

				&.slick-active {

					button {
						background-color: @color-white;
						border-color: @color-orange;
					}
				}

				button {
					background-color: @color-grey;
					border: 2px solid @color-grey;
				}
			}
		}

		button.fa.slick-prev,
		button.fa.slick-next {
			color: fadeout(@color-grey-dark, 40%);
		}
	}

	&.slider-light {

		.slick-dots {

			&:before {
				background-color: fadeout(@color-white, 20%);
			}

			li {

				&.slick-active {

					button {
						background-color: @color-blue;
						border-color: @color-white;
					}
				}

				button {
					background-color: @color-white;
					border: 2px solid @color-white;
				}
			}
		}

		button.fa {
			bottom: -8px;
		}

		button.fa.slick-prev,
		button.fa.slick-next {
			color: fadeout(@color-white, 20%);
		}
	}

	li {
		display: none;

		&:first-of-type {
			display: block;
		}
	}

	&.slick-initialized {

		li.slick-slide {
			display: block;
		}
	}
}

.slider-big button.fa {
	bottom: -8px;
}

main {
	background-color: @color-white;
}

main:not(.page-main) {

	&.bg-dark {
		background-color: #192f46;
		background-image: url("../images/bg/bg-dark-big.png");
		background-repeat: no-repeat;
		background-position: center top;
		margin-top: -1px;

		.content h3 {
			color: @color-blue-light;
			margin-bottom: 2rem;
		}

		.breadcrumbs ul li {

			&:before {
				border: 2px solid @color-white;
				border-bottom: 0;
				border-left: 0;
				opacity: 0.6;
			}

			a {
				color: @color-white;
				opacity: 0.8;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom-color: @color-white;
				}
			}

			span {
				color: @color-white;
			}
		}

		h1, h2 {

			&.title-line.title-bg {

				strong {
					opacity: 0.6;
				}
			}
		}
	}

	.content .container {
		padding-bottom: 65px;
	}

	> section .container {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.page-main {

	h1 {
		display: none;
	}

	> section .container {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.games-news .container {
		padding-bottom: 0;
	}
}

.page-game {
	//background-image: url("../images/bg/bg-light-big.png");
	//background-repeat: no-repeat;
	//background-position: center top;
}

main.page-game-detail {

	h2 {
		margin-bottom: 2rem;
	}

	section .container {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.game-slider, .game-details {
		display: block;
		float: left;
		height: 500px;
		margin-bottom: 40px;
	}

	.game-slider {
		float: left;
		width: ~"calc(100% - 320px)";
	}

	.game-details {
		position: relative;
		display: table;
		width: 245px;
		float: right;
		border-left: 1px solid @color-grey;

		&:before, &:after {
			content: '';
			display: block;
			width: 9px;
			height: 9px;
			position: absolute;
			left: -5px;
			background-color: @color-grey;
			.borderRadius(100%);
		}

		&:before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}

		ul {
			display: table-cell;
			vertical-align: middle;
		}

		li {
			position: relative;
			display: block;
			margin-bottom: 20px;
			font-size: 2.8rem;
			text-transform: uppercase;
			padding-left: 55px;
			color: @color-blue;

			&:last-of-type {
				margin-bottom: 0;
			}

			&:before, &:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				.borderRadius(100%);
				z-index: 2;
			}

			&:before {
				width: 9px;
				height: 9px;
				left: -5px;
				background-color: #00a6e7;
			}

			&:after {
				width: 29px;
				height: 29px;
				border: 1px solid #00a6e7;
				left: -15px;
			}

			&:nth-of-type(3n - 1) {
				&:before {
					background-color: #dc1a23;
				}
				&:after {
					border-color: #dc1a23;
				}
			}

			&:nth-of-type(3n) {
				&:before {
					background-color: #faa416;
				}
				&:after {
					border-color: #faa416;
				}
			}

			span {
				&:before {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: -45px;
					margin: auto;
					display: block;
					width: 70px;
					height: 1px;
					background-color: @color-grey;
				}
			}
		}
	}

	.content .buttons {
		padding: 20px 0 50px;
	}

	.game-info {
		display: block;
		clear: both;
	}

	.big-wins {
		background-color: @color-blue;
		background-image: url("../images/bg/bg-coins.png");
		background-repeat: no-repeat;
		background-position: center bottom;

		+ .reviews .container {
			padding-top: 60px;
		}
	}

	.reviews {

		.container {
			padding-top: 0;
		}

		+ .reviews .container {
			padding-top: 0;
		}

		.container {
			text-align: center;
			font-size: 0;
		}

		.games-slider {
			display: inline-block;
			vertical-align: top;
			float: left;
			width: ~"calc(75.5% - 10px)";
			margin-right: 20px;

			button.slick-prev {
				left: 33.333333%
			}

			button.slick-next {
				right: -33.333333%
			}

			.slick-dots {
				right: -16.66666%;
			}
		}

		.add-button {
			position: relative;
			display: inline-block;
			vertical-align: top;
			float: left;
			width: ~"calc(24.5% - 10px)";
			padding-top: 5px;

			a {
				position: relative;
				display: block;
				width: 100%;
				padding-bottom: 100%;
				background-color: lighten(@color-grey-light, 10%);
				.transition("all 0.2s ease");

				&:hover {
					.transform(scale(1.015) translateY(-1.5px));
					.boxShadow(0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12););
				}

				&:active {
					.transition("all 0s");
					.transform(scale(1) translateY(0px));
					.boxShadow(none);
				}
			}

			.icon-add {
				pointer-events: none;
			}
		}
	}

	.games-slider, .big-wins {

		a {
			&:hover {
				+ .game-info {
					.transform(scale(1.015));
				}
			}

			&:active {
				+ .game-info {
					.transition("all 0s");
					.transform(scale(1));
				}
			}
		}

		.games-list li .game-info {
			height: 46px;
			margin-top: -46px;
			background-color: fadeout(@color-black, 25%);
			font-size: 1.5rem;
			color: @color-white;
			padding: 5px 10px 0;
			pointer-events: none;
			.transition("all 0.2s ease");
			overflow: hidden;
		}

		.icon-play {
			bottom: 40px;
		}
	}
}

.page-news {

	.subscriber {
		margin: 10px;

		.container {
			padding: 40px 20px !important;
		}
	}
}

.page-news-detail {

	.news-slider {
		margin-bottom: 4rem;
	}

	.fa-calendar {
		position: relative;
		display: block;
		margin-bottom: 5rem;
		font-size: 3rem;
		color: @color-orange-darker;
		padding-left: 2.6rem;

		&:before {
			position: absolute;
			left: 0;
			bottom: 0.8rem;
			font-size: 1.8rem;
		}
	}
}

.page-contact {

	.content {
		position: relative;
		background-image: url("../images/bg/bg-map-2.jpg");
		background-position: center 12rem;
		background-repeat: no-repeat;
		padding-bottom: 280px;

		> .container {
			padding-bottom: 0 !important;
		}

		//&:before {
		//	content: '';
		//	position: absolute;
		//	top: 0;
		//	left: 0;
		//	width: 100%;
		//	height: 100%;
		//	.gradient-white-transparent();
		//}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 685px;
			left: 0;
			right: 0;
			margin: auto;
			width: 85px;
			height: 116px;
			background-image: url("../images/icon/icon-marker.png");
			background-position: center top;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1;
		}
	}

	.contact-details {
		position: relative;
		overflow: hidden;
		display: inline-block;
		width: 100%;
		//background-image: url("../images/bg/bg-contact.jpg");
		//background-position: center top;
		//background-repeat: no-repeat;
		//background-size: cover;
		padding: 30px 0;
		z-index: 2;
		.gradient-blue-radial();

		&:before, &:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 10px;
			width: 100%;
			opacity: 0.1;
			.gradient-grey-vertical();
		}

		&:after {
			top: auto;
			bottom: 0;
			.transform(rotate(180deg));
		}

		> ul {
			text-align: center;

			> li {
				display: inline-block;
				width: 330px;
				padding-left: 70px;
				margin-top: 44px;
				text-align: left;

				&:nth-of-type(-n+2) {
					margin-top: 0;
				}

				&:last-of-type {
					margin-top: 30px;

					.label {
						margin-bottom: 5px;
					}
				}

				.label {
					display: block;
					font-size: 1.2rem;
					text-transform: uppercase;
					color: @color-blue-light;
					margin-left: 10px;
				}

				> a {
					position: relative;
					display: inline-block;
					font-size: 2.4rem;
					text-transform: uppercase;
					color: @color-white;
					//opacity: 0.8;
					.transition("all 0.3s ease");

					&:before {
						color: @color-orange-dark;
						font-size: 2.4rem;
						position: absolute;
						bottom: 4px;
						left: -52px;
						line-height: 33px;
						padding-left: 1px;
						width: 35px;
						height: 35px;
						text-align: center;
						.borderRadius(100%);
						border: 1px solid @color-orange-dark;
					}

					&:after {
						content: '';
						position: absolute;
						top: 100%;
						left: 0;
						width: 0;
						height: 2px;
						background-color: @color-white;
						.transition("all 0.3s ease");
					}

					&:hover {
						//opacity: 1;

						&:after {
							width: 100%;
						}
					}

					&.fa-envelope {

						&:before {
							font-size: 1.9rem;
						}
					}

					&.fa-skype {

						&:before {
							font-size: 2.2rem;
						}
					}

					&.fa-envelope-o {
						&:before {
							font-size: 2rem;
						}
					}
				}
			}
		}

		.social li {
			margin-right: 7px;

			&:last-of-type {
				margin-right: 0;
			}

			a:hover {
				color: @color-blue;
			}
		}
	}

	.contact-form {
		position: relative;
		display: inline-block;
		width: 100%;
		background-color: @color-white;
		background-image: none;
		padding: 30px;
		color: @color-blue;
		z-index: 2;

		h2 {
			font-size: 4rem;

			+ .title-info {
				margin: -2.5rem 0 2rem;
			}
		}

		form {

			.input:not(.input-textarea):not(.input-recaptcha) {
				display: block;
				float: none;
				width: 100%;
			}

			.input {
				margin-bottom: 20px;
			}

			textarea {
				height: 11.2rem;
				min-height: 11.2rem;
				max-height: 11.2rem;
			}
		}

		.success-msg {

			img {
				display: inline-block;
				margin-bottom: 30px;
			}

			h2 {
				display: block;
				text-align: center;
				color: @color-grey-dark;
			}
		}
	}
}

.page-lets-talk {
	background-color: @color-grey-lets-talk;
	background-image: url("../images/bg/bg-grey-big.png");
	background-repeat: no-repeat;
	background-position: center 9.3rem;

	.form-wrapper {

		.success-msg {

			img {
				display: inline-block;
				width: 60px;
				margin-bottom: 15px;
			}

			strong {
				display: block;
				font-size: 5rem;
				text-transform: uppercase;
				color: @color-grey-darker;
			}

			.title {
				display: block;
				font-size: 3rem;
				text-transform: uppercase;
				color: @color-blue;
				margin-bottom: 2rem;
			}

			p {
				display: block;
				color: @color-grey-dark;
				padding: 0 17%;
				margin-bottom: 1rem;
			}

			a {
				display: inline-block;
				color: @color-orange;
				border-bottom: 1px solid transparent;
				.transition("all 0.2s ease");

				&:hover {
					border-bottom-color: @color-orange-dark;
				}
			}
		}

		.error-msg {
			.info {
				h2 {
					color: @color-grey-dark;
				}
			}
		}

		&.focused {

			.buttons {
				width: 405px;
			}
		}
	}

	form {

		.col-2 {
			margin-bottom: 20px;
		}

		textarea {
			height: 15.8rem;
			min-height: 15.8rem;
			max-height: 15.8rem;
		}

		.form-info {
			display: block;
			clear: both;
			float: left;
			width: ~"calc(50% - 10px)";
			margin: 0 20px 0 0;
		}

		.buttons {
			position: relative;
			float: right;
			clear: none;
			width: 215px;
			padding-right: 5px;
			margin-right: -5px;
			overflow: hidden;
			.transition("all 0.5s ease");

			.input-recaptcha {
				position: absolute;
				top: 0;
				right: 205px;
			}

			.btn {
				position: absolute;
				top: 0;
				right: 5px;
			}
		}

		&.multipart {

			textarea {
				height: 21.35rem;
				min-height: 21.35rem;
				max-height: 21.35rem;
			}
		}
	}

}

.page-partners {

	.media-partners {
		background-color: @color-white;
	}

	.exhibitions {
		position: relative;
		//background-image: url("../images/bg/bg-orange.jpg");
		//background-repeat: repeat-y;
		//background-position: center top;
		background-color: @color-orange;
		overflow: hidden;
	}
}

.page-career {

	.content .container {
		padding-bottom: 0 !important;
	}

	.subscriber {
		margin: 5px 0 0;

		.container {
			padding: 40px 20px !important;
		}
	}
}

.page-career-detail {

	.other-jobs {
		background-color: @color-white;

		.job-title {
			text-align: center;

			a {
				color: @color-blue;

				&:hover {
					color: darken(@color-blue-dark, 20%);
				}
			}
		}
	}
}

.page-about-us {

	.video {
		position: relative;
		display: block;
		margin-bottom: 5rem;
		padding: 25px 50px;
		background-color: @color-transparent-most-white;

		&:after {
			content: '';
			position: relative;
			display: block;
			padding-top: 56.28%;
		}

		iframe {
			display: block;
			position: absolute;
			top: 25px;
			left: 50px;
			width: ~"calc(100% - 100px)";
			height: ~"calc(100% - 50px)";
		}
	}

	.our-awards {
		background-color: @color-white;

		&.show {

			ul:before {
				opacity: 1;
			}

			li {
				&:before {
					opacity: 1;
				}
			}
		}

		ul {
			position: relative;
			display: inline-block;
			width: 100%;

			&:before {
				content: '';
				position: absolute;
				top: 72.5px;
				left: 75px;
				display: block;
				width: ~"calc(100% - 150px)";
				height: 1px;
				background-color: @color-grey-dark;
				.transition("all 0.4s ease");
				opacity: 0;
			}
		}

		li {
			position: relative;
			display: block;
			float: left;
			width: 25%;
			text-align: center;

			//&.show {
			//
			//	.illustration {
			//		opacity: 1;
			//		.transform(scale(1));
			//	}
			//}

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -6px;
				top: 68px;
				width: 11px;
				height: 11px;
				.borderRadius(100%);
				.transition("all 0.3s ease");
				opacity: 0;
			}

			.illustration {
				position: relative;
				display: inline-block;
				width: 145px;
				height: 145px;
				margin-bottom: 1rem;
				border: 1px solid @color-grey-dark;
				.borderRadius(100%);
				//.transform(scale(0));
				//.transition("all 0.3s ease");
				//opacity: 1;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 120px;
					height: 120px;
					background-color: @color-blue;
					.borderRadius(100%);
				}

				img {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					.borderRadius(100%);
					width: 120px;
					height: 120px;
				}
			}

			p {
				display: block;
				font-size: 1.5rem;
				letter-spacing: 0.04rem;
				padding: 0 14px;
				line-height: 1.45;
				color: @color-blue-dark;
				text-transform: uppercase;
				//.transition("all 0.5s ease");
				//opacity: 1;

				//&.show {
				//	opacity: 1;
				//}
			}

			&:nth-of-type(2) {

				&:before {
					background-color: #40a1db;
				}
			}

			&:nth-of-type(3) {

				&:before {
					background-color: #b4443b;
				}
			}

			&:nth-of-type(4) {

				&:before {
					background-color: #cf9c5f;
				}
			}
		}
	}

	.our-team {
		position: relative;
		//background-image: url("../images/bg/bg-orange.jpg");
		//background-repeat: repeat-y;
		//background-position: center top;
		background-color: @color-orange;
		overflow: hidden;
	}

	.content {
		h3 {
			font-size: 2.8rem;
		}

		.text p {
			font-size: 2rem;
			text-align: justify;
		}
	}
}

.page-error {

	.content {

		.container {
			padding-bottom: 80px !important;
		}

		h1 {
			text-align: center;
			margin: 5rem 0 -3.5rem;

			> span {
				text-transform: capitalize;
				color: @color-white;

				.orange {
					color: @color-orange-dark;
					text-transform: uppercase;
				}
			}
		}

		img {
			margin: 0 auto;
			max-width: 100%;
		}

		p {
			display: block;
			text-align: center;
			font-size: 2rem;
			color: @color-white;
			margin-top: 10rem;

			a {
				display: inline-block;
				font-style: italic;
				color: @color-blue-light;
				border-bottom: 1px solid transparent;
				.transition("all 0.2s ease");
				line-height: 2.2rem;

				&:hover {
					border-bottom-color: @color-blue-light;
				}
			}
		}
	}

	&.error-500, &.error-404 {

		.content {

			h1 {
				margin: 5rem 0 1rem;
			}

			p {
				color: @color-blue-light;
				font-size: 2.4rem;

				&.big {
					text-transform: uppercase;
					font-size: 2.8rem;
					margin-top: 0.5rem;
				}
			}
		}
	}

	&.error-404 {

		.content {
			background-color: @color-white;
			background-image: url("../images/bg/bg-light-big.png");
			background-repeat: repeat-y;

			.container {
				padding-bottom: 100px !important;
			}

			h1 > span {
				color: @color-blue;
			}

			p {
				color: @color-blue;
				margin-top: -8rem;
			}
		}

		.report-error {
			background-image: url("../images/bg/bg-orange-big.jpg");
			background-repeat: repeat-y;

			.title-info {
				color: @color-white;
				opacity: 1;
			}

			form {
				input, textarea {
					.placeholderColor(@color-white);
				}
			}
		}
	}

	.success-msg {

		img {
			display: inline-block;
			width: 60px;
			margin-bottom: 15px;
		}

		strong {
			display: block;
			font-size: 5rem;
			text-transform: uppercase;
			color: @color-grey-darker;
		}

		.title {
			display: block;
			font-size: 3rem;
			text-transform: uppercase;
			color: @color-blue;
			margin-bottom: 2rem;
		}

		p {
			display: block;
			color: @color-grey-dark;
			padding: 0 17%;
			margin-bottom: 1rem;
		}

		a {
			display: inline-block;
			color: @color-orange;
			border-bottom: 1px solid transparent;
			.transition("all 0.2s ease");

			&:hover {
				border-bottom-color: @color-orange-dark;
			}
		}
	}

	.error-msg {
		.info {
			h2 {
				color: @color-grey-dark;
			}
		}
	}

	&.error-500, &.error-403 {
		.success-msg {

			img {
				display: inline-block;
				width: 60px;
				margin-bottom: 15px;
			}

			strong {
				display: block;
				font-size: 5rem;
				text-transform: uppercase;
				color: @color-grey-darker;
			}

			.title {
				display: block;
				font-size: 3rem;
				text-transform: uppercase;
				color: @color-blue;
				margin-bottom: 2rem;
			}

			p {
				display: block;
				color: @color-grey-dark;
				padding: 0 17%;
				margin-bottom: 1rem;
			}

			a {
				display: inline-block;
				color: @color-orange;
				border-bottom: 1px solid transparent;
				.transition("all 0.2s ease");

				&:hover {
					border-bottom-color: @color-orange-dark;
				}
			}
		}

		.success-msg, .error-msg {
			.info {
				h2 {
					color: @color-grey-dark;
				}
			}
		}
	}
}

.advantages {
	background-color: lighten(@color-grey-light, 12%);

	ul {
		display: inline-block;
		width: 100%;
	}

	li {
		display: block;
		float: left;
		width: 25%;
	}

	.circle {
		position: relative;
		display: inline-block;
		float: left;
		width: 70px;
		height: 70px;
		background-color: @color-blue-dark;
		margin-right: 15px;
		.borderRadius(100%);
	}

	img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 100%;
		.borderRadius(100%);
		opacity: 0;

		&.gif {
			opacity: 1;
		}
	}

	h3 {
		display: inline-block;
		line-height: 70px;
		margin: 0;
	}
}

.send-email {
	position: relative;
	//background-image: url("../images/bg/bg-slider.jpg");
	//background-repeat: no-repeat;
	//background-position: center top;
	overflow: hidden;
	.gradient-blue-radial();

	&:before, &:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 10px;
		width: 100%;
		opacity: 0.1;
		.gradient-grey-vertical();
	}

	&:after {
		top: auto;
		bottom: 0;
		.transform(rotate(180deg));
	}

	.form-wrapper, .title-line, .title-info {
		pointer-events: none;
	}

	.title-line span, input, textarea, .btn, .input-recaptcha {
		pointer-events: all;
	}

	form {

		.input:not(.input-textarea):not(.input-recaptcha) {
			float: left;
			width: ~"calc(50% - 10px)";
			margin-right: 20px;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		.input {
			&:nth-of-type(2n + 1) {
				clear: both;
			}
		}

		.form-info {
			display: block;
			clear: both;
			float: left;
			width: ~"calc(50% - 10px)";
			margin: 0 20px 0 0;
		}

		.buttons {
			position: relative;
			float: right;
			clear: none;
			width: 215px;
			padding-right: 5px;
			margin-right: -5px;
			overflow: hidden;
			.transition("all 0.5s ease");

			.input-recaptcha {
				position: absolute;
				top: 0;
				right: 205px;
			}

			.btn {
				position: absolute;
				top: 0;
				right: 5px;
			}
		}
	}

	&.report-error {
		background-color: @color-white;
		background-image: none;

		.title-info {
			font-size: 2.2rem;
			text-align: center;
			margin: -4rem 0 5rem;
		}

		form {

			input, textarea {
				border: 2px solid @color-blue;
			}

			.icon {
				color: @color-white;
			}

			.form-info {
				color: @color-blue;
			}
		}
	}

	&.focused {

		.buttons {
			width: 405px;
		}

	}
}

.tiles {

	> * > a {
		.transition("all 0.2s ease");

		&:hover {
			.transform(scale(1.015) translateY(-1.5px));
			.boxShadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23););
		}

		&:active {
			.transition("all 0s");
			.transform(scale(1) translateY(0px));
			.boxShadow(none);
		}
	}
}

.info-text {
	display: block;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: @color-blue;
	margin-bottom: 20px;
}

.icon-play {
	display: block;
	width: 135px;
	height: 135px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: @color-white;
	background-color: @color-transparent-more-white;
	border: 10px solid @color-transparent-white;
	.borderRadius(100%);

	img {
		display: inline-block;
		position: absolute;
		top: 0;
		bottom: 20px;
		left: 6px;
		right: 0;
		margin: auto;
		width: 27px;
	}

	span {
		display: block;
		position: absolute;
		font-size: 1.8rem;
		top: 61%;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.5);
	}

	//&:hover {
	//	.transform(scale(1.015));
	//	.boxShadow(0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23););
	//}
	//
	//&:active {
	//	.transition("all 0s");
	//	.transform(scale(1));
	//	.boxShadow(none);
	//}
}

.icon-add {
	display: block;
	width: 135px;
	height: 135px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: @color-grey-dark;
	background-color: @color-transparent-more-white;
	border: 10px solid lighten(@color-grey-light, 10%);
	.borderRadius(100%);
	.boxShadow(0 0 0 1px @color-white);

	.fa-plus {
		position: absolute;
		top: 0;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: auto;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;

		&:before {
			font-size: 3rem;
			text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.2);
		}
	}

	span {
		display: block;
		position: absolute;
		font-size: 1.8rem;
		top: 60%;
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		text-transform: uppercase;
		text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.2);
	}
}

.buttons {
	clear: both;
	display: block;
	padding-top: 50px;
	text-align: center;
	font-size: 0;

	> * {
		display: inline-block;
		font-size: 2.2rem;
		margin: 0 10px !important;

		&:first-child {
			margin-left: 0 !important;
		}

		&:last-child {
			margin-right: 0 !important;
		}

		&:only-child {
			margin: 0 !important;
		}
	}

}

.four-points {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 0 0 20px;

	&.show {

		&:before {
			opacity: 1;
		}

		li {
			&:before {
				opacity: 1;
			}
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 36px;
		left: 90px;
		display: block;
		width: ~"calc(100% - 180px)";
		height: 1px;
		background-color: @color-grey-dark;
		.transition("all 0.4s ease");
		opacity: 0;
	}

	li {
		position: relative;
		display: block;
		float: left;
		width: 25%;
		text-align: center;
		z-index: 1;

		&.show {

			.number {
				opacity: 1;
				.transform(scale(1));
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: -6px;
			top: 31px;
			width: 11px;
			height: 11px;
			.borderRadius(100%);
			background-color: @color-grey-dark;
			.transition("all 0.3s ease");
			opacity: 0;
		}

		.number {
			position: relative;
			display: inline-block;
			width: 71px;
			height: 71px;
			margin-bottom: 3rem;
			background-color: #01436a;
			font-size: 2rem;
			color: @color-white;
			font-weight: bold;
			border: 15px solid @color-white;
			.borderRadius(100%);
			line-height: 42px;
			text-align: center;
			.transform(scale(0));
			.transition("all 0.3s ease");
			opacity: 0;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -15px;
				left: -15px;
				margin: auto;
				width: 72px;
				height: 72px;
				//border: 1px solid #33627f;
				border: 1px solid #01436a;
				.borderRadius(100%);
				z-index: -1;
			}
		}

		p {
			display: block;
			font-size: 1.5rem;
			letter-spacing: 0.04rem;
			padding: 0 14px;
			line-height: 1.45;
			color: @color-blue-dark;
			.transition("all 0.5s ease");
			opacity: 0;

			&.show {
				opacity: 1;
			}
		}

		&:first-of-type {

			&:before {
				display: none;
			}
		}

		&:nth-of-type(2) {

			.number {
				background-color: #dc1a23;

				&:before {
					//border-color: #c36962;
					border-color: #dc1a23;
				}
			}
		}

		&:nth-of-type(3) {

			.number {
				background-color: #00a6e7;

				&:before {
					//border-color: #65c7f8;
					border-color: #00a6e7;
				}
			}
		}

		&:nth-of-type(4) {

			.number {
				background-color: #faa416;

				&:before {
					//border-color: #cc9655;
					border-color: #faa416;
				}
			}
		}
	}
}

.tags {
	margin-top: 2rem;

	span {
		display: inline-block;
		font-weight: bold;
		font-style: italic;
	}

	ul {
		display: inline;
	}

	li {
		display: inline;
		font-style: italic;

		a {
			display: inline-block;
			font-style: italic;
			color: @color-grey-darker;
			line-height: 1;
			border-bottom: 1px solid @color-grey-darker;
			.transition("all 0.2s ease");

			&:hover {
				border-bottom-color: transparent;
			}
		}
	}
}

.col-1 {
	clear: both;
	display: block;
	width: 100%;
}

.col-2 {
	display: block;
	float: left;
	width: ~"calc(50% - 10px)";
	margin-right: 20px;

	&:nth-of-type(2n) {
		margin-right: 0;
	}

	&:nth-of-type(2n + 1) {
		clear: both;
	}
}

.cols-2-text {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2;
	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
	text-align: justify;
}

.ellipsis {
	overflow: hidden;
}

.open-menu-wrapper {
	display: none;
	height: 11.8rem;
	width: 85px;
	position: absolute;
	right: -85px;
	top: 0;
	.transition("all 0.5s ease");
}

.open-menu {
	display: block;
	position: absolute;
	left: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 45px;
	height: 38px;
	background-color: transparent;
	.transition("all 0.5s ease");

	span, span:before, span:after {
		display: block;
		width: 100%;
		height: 7px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		background-color: @color-blue;
	}

	span:before {
		content: '';
		bottom: auto;
		top: -16px;
	}

	span:after {
		content: '';
		bottom: -16px;
		top: auto;
	}

	&:hover {
		.transition("all 0.2s ease");
		.transform(scale(1.05));
	}

	&:active {
		.transition("all 0s");
		.transform(scale(0.95));
	}
}

.infinite-scroll-loading-text {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 40px;

	> div {
		position: relative;
		display: inline-block;
		width: 100px;
		height: 110px;
		background-image: url("../images/loader.gif");
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100px auto;

		//&:after {
		//	content: "";
		//	display: block;
		//	position: absolute;
		//	left: 50%;
		//	top: 50%;
		//	margin: auto;
		//	width: 100px;
		//	height: 100px;
		//	border: 10px solid fadeout(@color-blue, 50%);
		//	border-top-color: @color-blue;
		//	.borderRadius(100%);
		//	.animation(rotateSpinner 1.5s infinite linear);
		//	.transformOrigin(50% 50%);
		//}
		//
		//&:before {
		//	content: "";
		//	display: block;
		//	position: absolute;
		//	left: 50%;
		//	top: 50%;
		//	margin: auto;
		//	width: 75px;
		//	height: 75px;
		//	border: 10px solid fadeout(@color-blue, 50%);
		//	border-top-color: @color-blue;
		//	.borderRadius(100%);
		//	.animation(rotateSpinnerRevert 1.5s infinite linear);
		//	.transformOrigin(50% 50%);
		//}

		img {
			display: none;
		}
	}
}

.ias-spinner {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 110px;
	margin-top: 30px;
	opacity: 1 !important;
	background-image: url("../images/loader.gif");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100px auto;

	//&:after {
	//	content: "";
	//	display: block;
	//	position: absolute;
	//	left: 50%;
	//	top: 50px;
	//	width: 100px;
	//	height: 100px;
	//	border: 10px solid fadeout(@color-blue, 50%);
	//	border-top-color: @color-blue;
	//	.borderRadius(50%);
	//	.animation(rotateSpinner 1.5s infinite linear);
	//}
	//
	//&:before {
	//	content: "";
	//	display: block;
	//	position: absolute;
	//	top: 50px;
	//	width: 75px;
	//	height: 75px;
	//	border: 10px solid fadeout(@color-blue, 50%);
	//	border-top-color: @color-blue;
	//	.horizontalAlign();
	//	.borderRadius(50%);
	//	.animation(rotateSpinnerRevert 1.5s infinite linear);
	//}

	img {
		display: none;
	}
}

.plexus {
	position: absolute;
	top: -30%;
	width: 1320px;
	max-width: 100%;
	height: 160%;
	left: 0;
	right: 0;
	margin: auto;
}

/*MEDIA QUERIES*/
@import "media.less";
