@media only screen and (max-width: 1279px) {

	.social.social-fixed {
		right: 30px;
	}

}

@media only screen and (max-width: 999px) {

	.social.social-fixed {
		display: none;
	}

	@container-width: 100%;
	@container-padding: 12px;

	html body {
		min-width: @container-width;
	}

	.container {
		width: @container-width;
		padding-left: @container-padding;
		padding-right: @container-padding;
	}

	.page-main {

		.games-categories {
			.container {
				width: 740px;
			}
		}

		.news, .advantages, .send-email {
			display: none;
		}

		.games-news {
			.container {
				padding-bottom: 60px;
			}

			.games-list li {

				a:hover {
					.hover {
						opacity: 0.8;
					}
				}

				.hover {
					opacity: 0;
				}
			}
		}

		.partners {
			li {
				width: ~"calc(25% - 1px)";
			}
		}
	}

	.page-game {
		.games-list.cols-3 {
			li {
				position: relative;

				a.game {
					.hover {
						display: none;
					}
				}

				.btn {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 0;
					padding-bottom: 100%;
					background-color: transparent;
					text-indent: -5000px;
					.borderRadius(0);
					margin: 0;
					border: 0;

					&:hover {
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}

	.partners-img-list li {
		width: ~"calc(25% - 1px)";
	}

	.main-slider {
		height: 500px;
		//padding-top: 50px;

		.container {
			padding: 0 !important;
		}

		.slick-list {
			margin-bottom: 20px;
		}

		li.slick-slide {
			height: 500px;

			.slide {
				height: 500px;
				padding: 0;

				&.slide-big {
					height: 500px;

					a.game-link {
						left: ~"calc(50% - 299px)";
					}

					&.slide-big-general {

						a.game-link {
							left: ~"calc(50% - 257px)";
						}
					}
				}
			}

			.illustration {
				height: 500px;

				img {
					max-height: 90%;
				}
			}

			.details {
				height: 500px;

				h2 {
					font-size: 3rem;
					margin-bottom: 1rem;
				}

				a.title-link {
					font-size: 2rem;
					margin-top: 6px;

					&:before {
						font-size: 1.8rem;
						line-height: 2.55rem;
					}
				}
			}
		}
	}

	body > header {

		.header-main .logo-main {
			width: 14rem;
			margin: 9px 0 0 8.5rem;
		}

		.header-nav {
			position: absolute !important;
			top: 0 !important;
			left: -380px !important;
			display: block;
			width: 380px;
			max-width: ~"calc(100% - 85px)";
			height: 100%;
			background-color: @color-menu-blue-dark;
			overflow: visible;
			padding: 0 0 100px;
			background-image: none;
			.transition("all 0.5s ease");
			z-index: 1002;

			.container {
				padding-bottom: 130px !important;
				overflow: auto;
			}

			.logo-menu {
				display: block;
				width: 15rem;

				img {
					width: 100%;
				}
			}

			.container {
				position: absolute;
				width: 100%;
				height: ~"calc(100% - 11.8rem)";
				top: 11.8rem;
				padding: 0;
				background-color: @color-menu-blue;
			}

			li.active a:after {
				display: none;
			}

			nav {
				ul {
					li {
						display: block;
						margin-bottom: 0.3rem;

						a {
							font-size: 3.2rem;
						}
					}
				}
			}

			&.open {
				position: fixed !important;
				left: 0 !important;

				.open-menu-wrapper {
					background-color: @color-grey-header;
				}

				.open-menu {
					right: 10px;
				}
			}
		}

		.btn-lets-talk {
			display: block;
			width: 210px;
			margin: 20px auto 0;
		}
	}

	body > footer {

		.container > * {
			width: ~"calc(33.333333% - 1px)";
		}

		.buttons {
			display: none;
		}

		.social {
			min-height: 0;
			position: relative;
			float: right;

			ul {
				top: 0;
				.transform(none);
			}
		}

		.social ul {
			text-align: center;

			li {
				margin: 4px !important;
			}
		}
	}

	.open-menu-wrapper {
		display: block;
	}

	.vacancy-list {
		width: ~"calc(100% + 12px)";
		margin-left: -6px;
		margin-right: -6px;

		li {
			margin: 0;
			border: 6px solid @color-white;

			h3 {
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			&.block-01 {
				width: 60.5%;

				p:not(.quote) {
					max-height: 110px;
				}
			}

			&.block-02 {

				img {
					margin-bottom: 4px;
				}

				p.quote {
					max-height: 90px;
					padding: 1.4rem 0;
				}
			}

			&.block-02, &.block-05 {
				width: 39.5%;

				p:not(.quote) {
					max-height: 155px;
				}
			}

			&.block-03, &.block-06 {
				width: 28%;
			}

			&.block-04 {
				width: 32.5%;

				p:not(.quote) {
					max-height: 155px;
				}
			}

			&.block-07 {
				width: 72%;

				p:not(.quote) {
					max-height: 100px;
				}
			}
		}
	}

	.games-list li .hover {
		opacity: 0.8;
	}

	.news-list {

		li {

			&.news-01 {
				width: ~"calc(68% - 20px)";

				.illustration {
					width: 63.2%;
				}

				.details {
					width: 36.8%;
				}
			}

			&.news-02 {
				width: ~"calc(50% - 20px)";
			}

			&.news-03 {
				width: ~"calc(32% - 20px)";
			}

			&.news-04 {
				width: ~"calc(25% - 20px)";
			}
		}
	}

	.filters > ul > li ul li {
		padding: 0 15px;

		a {
			font-size: 1.5rem;
		}
	}

}

@media only screen and (max-width: 909px) {

	.contact-form.send-email form {

		.form-info {
			width: 100%;
			float: none;
			text-align: center;
			margin-bottom: 15px;
		}

		.buttons {
			width: 100%;
			float: none;
			text-align: center;
			padding: 0;

			> * {
				position: relative;
				display: inline-block !important;
				width: 190px !important;
				right: auto;
			}
		}
	}

	.page-contact .content:after {
		top: 758px;
	}

	.news-list li {

		&.news-02, &.news-04 {
			height: 425px;
		}
	}

	.vacancy-list li {
		.btn {
			width: 215px;
			max-width: ~"calc(100% - 40px)";
			padding: 0 1.5rem;
		}
	}

	.articles-list li {
		height: 415px;
	}

}

@media only screen and (max-width: 854px) {

	.product-presentation .container {

		&.stage-02 {

			.form-info {
				width: 100%;
				float: none;
				text-align: center;
				margin-bottom: 10px;
			}

			.buttons {
				width: 100%;
				float: none;
				text-align: center;
			}
		}
	}

	.main-slider .slider-big {
		.slick-dots {
			top: -75px;
		}
		button.fa {
			bottom: 67px;
		}
	}

	.report-error {

		form {

			.form-info {
				width: 100%;
				float: none;
				text-align: center;
				margin-bottom: 10px;
			}

			.buttons {
				width: 100%;
				float: none;
				text-align: center;
				padding: 0;

				> * {
					position: relative !important;
					display: inline-block;
					float: none !important;
					width: 188px !important;
					right: auto !important;
				}
			}
		}

		&.focused .buttons {
			width: 100%;
		}
	}

	.page-lets-talk {

		form {

			.col-1 {

				.form-info {
					width: 100%;
					float: none;
					text-align: center;
					margin-bottom: 10px;
				}

				.buttons {
					width: 100%;
					float: none;
					text-align: center;
					padding: 0;

					> * {
						position: relative;
						display: inline-block;
						right: auto;
					}

				}
			}
		}

		.form-wrapper.focused {
			.buttons {
				width: 100%;
			}
		}
	}

	.exhibitions-list li {
		width: ~"calc(40% - 1px)";
	}

	.events-slider {

		.illustration {
			width: ~"calc(100% - 405px)";
			min-width: 140px;

			img {
				min-width: auto;
			}
		}

		.details {
			width: 405px;
			max-width: ~"calc(100% - 140px)";

			strong {
				.place {
					display: block;

					&:after {
						display: none;
					}
				}
			}
		}
	}

	.vacancy-list li {
		font-size: 1.5rem;

		h3 {
			font-size: 2.6rem !important;

			span {
				font-size: 1.6rem !important;
			}
		}
	}

	.news-slider .slider-for li {
		min-height: 452px;
	}

	.cols-2-text {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
	}

	main.page-game-detail {

		.game-slider {
			width: ~"calc(100% - 270px)";
			height: 410px !important;
		}

		.game-details {
			width: 195px;
			height: 410px !important;

			li {
				margin-bottom: 15px;
				font-size: 2.2rem;
				padding-left: 42px;

				&:after {
					width: 25px;
					height: 25px;
					left: -13px;
				}
			}
		}
	}

	.news-list li {

		&.news-02, &.news-04 {
			height: 400px;
		}

		.btn {
			padding: 0 1.5rem;
		}
	}

	.page-error.error-404 .content {

		.container {
			padding-bottom: 80px !important;
		}

		p {
			margin-top: 2rem;
		}
	}

	.vacancy-list li.team-member {
		h3 span {
			display: block;
		}
	}

	.articles-list li {
		height: 395px;
	}

	.filters > ul > li ul {
		padding: 12px 15px 15px;

		li {
			padding: 0 10px;

			a {
				font-size: 1.4rem;
			}
		}
	}

}

@media only screen and (max-width: 825px) {

	.main-slider {
		height: 380px;

		li.slick-slide {
			height: 380px;

			.slide {
				height: 380px;

				&.slide-big {
					height: 380px;

					a.game-link {
						width: 100%;
						height: 100%;
						text-indent: -5000px;
						left: 0;
						top: 0;
						bottom: 0;
					}
				}
			}

			.illustration {
				height: 380px;
			}

			.details {
				height: 380px;
			}
		}
	}

	.games-list li {

		h2, h3 {

			&:before, &:after {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: 769px) {

	.page-main {

		.games-categories {
			overflow: hidden;

			.container {
				width: 100%;
				padding: 3px;
			}

			li {
				margin: 0;
				border: 3px solid @color-white;

				h3 {
					position: absolute;
					left: 0;
					top: 0;
					font-size: 2.4rem;
				}

				p {
					position: absolute;
					left: 0;
					top: 3rem;
					opacity: 1;
				}

				a {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;

					&:hover {
						.transform(scale(1.015));
						.boxShadow(none);
					}

					&:active {
						.transition("all 0s");
						.transform(scale(1));
						.boxShadow(none);
					}
				}
			}

			.block-01 {
				width: 33.333333%;
				padding-bottom: ~"calc(33.333333% - 6px)";
				height: 0;
			}

			.block-02 {
				width: 66.666666%;
				padding-bottom: ~"calc(33.333333% - 6px)";
				height: 0;
			}

			.block-03 {
				width: 33.333333%;
				padding-bottom: ~"calc(66.666666% - 6px)";
				height: 0;
			}
		}

	}

	.main-slider {

		li.slick-slide {

			.illustration {
				width: ~"calc(100% - 400px)";
				min-width: 180px;
				text-align: left;
				padding-left: 12px;

				img {
					max-width: ~"calc(100% - 20px)";
				}
			}

			.details {
				width: 400px;
				max-width: ~"calc(100% - 180px)";
				padding-right: 12px;
			}
		}
	}

	.page-contact .contact-details > ul > li {
		width: 300px;

		.social li {
			margin-right: 4px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.news-slider .slider-for li {
		min-height: 405px;
	}

	main.page-game-detail .reviews {

		.games-slider {
			width: ~"calc(67.13% - 10px)";
		}

		.add-button {
			width: ~"calc(32.87% - 10px)";
		}
	}

	main.page-game-detail {

		.game-slider {
			height: 357.5px !important;
		}

		.game-details {
			height: 357.5px !important;

			li {
				margin-bottom: 10px;
			}
		}
	}

	.games-list.cols-3 li {

		h2, h3 {
			font-size: 2.1rem;
			margin-top: 0.8rem;
		}
	}

	.filters, .filters.filters-news {

		> ul li {
			padding: 0 20px;

			a {
				font-size: 1.4rem;
			}
		}
	}

	main.page-game-detail .reviews .games-slider {

		button.slick-prev {
			left: 50%;
		}

		button.slick-next {
			right: -50%;
		}

		.slick-dots {
			right: -25%;
		}
	}

	.vacancy-list {

		li {

			&.block-02 {

				img {
					margin-bottom: 10px;
				}

				p.quote {
					max-height: 111px;
				}
			}
		}
	}

	.articles-list li {
		height: 435px;
	}
}

@media only screen and (max-width: 729px) {

	.filters > ul > li ul li {
		padding: 0 7px;
	}

}

@media only screen and (max-width: 699px) {

	.breadcrumbs {
		display: none;

		+ .content .container {
			padding-top: 60px;
		}
	}

	.page-main {

		> section .container {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.partners {

			li {
				display: block;
				float: left;
				//width: ~"calc(33.333333% - 1px)";

				&.partner:nth-of-type(5n + 1) {
					clear: none;
				}
			}
		}
	}

	.page-contact .content:after {
		top: 775px;
	}

	main:not(.page-main) > section .container {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	main:not(.page-main) .content .container {
		padding-bottom: 60px;
	}

	.subscriber h3 + p {
		font-size: 1.6rem;
	}

	main.page-game-detail {

		.content .buttons {
			padding: 0 0 30px;
		}

		.big-wins {
			+ .reviews .container {
				padding-top: 30px;
			}
		}
	}

	.partners-list {
		margin-top: 2.5rem;

		li {
			display: block;
			margin-bottom: 40px;

			.illustration {
				display: block;
				float: none;
				width: 100%;
				text-align: left;
				margin-bottom: 20px;

				img {
					display: inline-block;
					max-height: 120px;
					max-width: 350px;
				}
			}

			.details {
				display: block;
				float: none;
				width: 100%;
			}
		}
	}

	.partners-img-list li {
		width: ~"calc(33.333333% - 1px)";
	}

	.page-career {

		.subscriber {
			width: ~"calc(100% + 24px)";
			margin-left: -12px;
			margin-right: -12px;
			padding-left: 12px;
			padding-right: 12px;

			.container {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		}
	}

	.vacancy-list {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		li {
			display: block;
			float: none;
			width: 100% !important;
			height: auto !important;
			border: 0;
			margin-bottom: 12px;
			padding-bottom: 90px !important;

			&:last-of-type {

			}

			h3 {
				margin-bottom: 1.5rem !important;
			}

			p {
				max-height: 110px !important;
				//text-align: justify;
			}

			&.team-member, &.linked-in {
				display: none !important;
			}

			.btn {
				bottom: 20px;

				span {
					display: none;
				}
			}

			&.block-01, &.block-05 {
				background-color: @color-white;
				background-image: none !important;
				padding: 0;

				h3 {
					color: @color-blue-dark;
				}

				p {
					color: @color-blue;
				}

				.btn {
					right: 0;
				}
			}

			&.block-04 {
				width: ~"calc(100% + 12px)" !important;
				background-color: @color-blue;
				background-image: none;
				padding: 12px;
				margin-right: -12px;

				h3 {
					color: @color-orange-dark;
					text-align: right;
				}

				p {
					color: @color-white;
					text-align: right;
				}

				.btn {
					color: @color-blue-dark;
					background-color: @color-orange-dark;
					border: 0.2rem solid @color-orange-dark;
					//right: auto;
					right: 12px;
				}
			}

			&.block-07 {
				width: ~"calc(100% + 10px)" !important;
				background-color: @color-orange-dark;
				background-image: none !important;
				padding: 10px;
				margin-right: -10px;

				h3 {
					color: @color-blue;
					text-align: right;
				}

				p {
					color: @color-white;
					text-align: right;
				}

				.btn {
					color: @color-white;
					background-color: @color-blue-dark;
					border: 0.2rem solid @color-blue-dark;
					//right: auto;
					right: 12px;
				}
			}
		}
	}

	.page-news {

		.subscriber {
			margin: 0;
			list-style: none;
			background-color: transparent;
			background-image: url("../images/bg/bg-subscriber-light.jpg");
			background-repeat: no-repeat;
			background-position: center top;

			.btn {
				color: @color-white;
				background-color: @color-blue-dark;
				border: 0.2rem solid @color-blue-dark;
			}

			.container {
				padding-left: 12px !important;
				padding-right: 12px !important;
			}
		}
	}

	.news-list {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		li {
			display: inline-block;
			float: none;
			width: 100% !important;
			height: auto !important;
			border: 0;
			padding: 20px;
			margin: 0 0 6px;

			.illustration {
				display: block !important;
				width: 130px !important;
				height: 130px !important;
				margin-top: 6px !important;

				img {
					width: 130px !important;
					height: 130px !important;
				}
			}

			.details {
				width: ~"calc(100% - 142px)" !important;
				padding: 0 !important;
				height: 142px !important;
			}

			h2, h3 {
				//height: 2.8rem !important;
				margin-bottom: 0 !important;

				a {
					display: inline-block;
					max-width: 100%;
					//overflow: hidden;
					//text-overflow: ellipsis;
					//white-space: nowrap;
				}
			}

			.fa-calendar {
				display: inline-block;
			}

			p {
				max-height: 110px !important;
				text-align: justify;
			}

			a.read-more {
				display: none;
			}

			&:nth-of-type(2n + 1) {
				background-color: @color-white;
				background-image: none !important;
				padding: 0;

				.illustration {
					float: left;
					margin-right: 12px;
					height: auto !important;

					img {
						width: 100%;
					}
				}

				.details {
					float: right;
				}

				h2, h3 {
					text-align: left;

					a {
						color: @color-blue-dark;

						&:hover {
							color: darken(@color-blue-dark, 20%);
						}
					}
				}

				.fa-calendar {
					color: @color-orange-dark;
				}

				p {
					color: @color-blue;
				}

				.btn {
					left: auto;
					right: 0;
				}
			}

			&:nth-of-type(4n + 2) {
				width: ~"calc(100% + 12px)" !important;
				background-color: @color-blue;
				background-image: none;
				padding: 12px;
				margin-right: -12px;

				.illustration {
					float: right;
					margin-left: 12px;

					&:before, &:after {
						border: 5px solid fadeout(@color-white, 50%);
						border-top-color: @color-white;
					}
				}

				.details {
					float: left;
					text-align: right;
				}

				h2, h3 {
					text-align: right;

					a {
						color: @color-orange-dark;

						&:hover {
							color: darken(@color-orange-dark, 10%);
						}
					}
				}

				.fa-calendar {
					color: @color-blue-light;
				}

				p {
					color: @color-white;
					text-align: right;
				}

				.btn {
					color: @color-blue-dark;
					background-color: @color-orange-dark;
					border: 0.2rem solid @color-orange-dark;
				}
			}

			&:nth-of-type(4n) {
				width: ~"calc(100% + 10px)" !important;
				background-color: @color-orange-dark;
				background-image: none !important;
				padding: 10px;
				margin-right: -10px;

				.illustration {
					float: right;
					margin-left: 12px;

					&:before, &:after {
						border: 5px solid fadeout(@color-white, 50%);
						border-top-color: @color-white;
					}
				}

				.details {
					float: left;
					text-align: right;
				}

				h2, h3 {
					text-align: right;

					a {
						color: @color-blue;
					}
				}

				.fa-calendar {
					color: @color-blue;
				}

				p {
					color: @color-white;
					text-align: right;
				}

				.btn {
					color: @color-white;
					background-color: @color-blue-dark;
					border: 0.2rem solid @color-blue-dark;
				}
			}
		}
	}

	body > header {

		.header-nav .container {

			.social li {
				margin: 4px;

				a {
					&:before {
						display: inline !important;
					}

					&.fa-periscope {
						&:before {
							display: inline-block !important;
						}
					}
				}
			}
		}
	}

	body > footer {

		.container > * {
			width: 100%;
			float: none;
			text-align: center;
			padding: 0 10px !important;
		}

		nav {
			display: none !important;
		}

		.social ul {
			position: relative;
			right: auto;
			width: 100%;
			padding-top: 10px;
		}
	}

	.btn {
		padding: 0 3rem;
	}

	.page-about-us .our-awards {

		ul, li {
			&:before {
				display: none;
			}
		}
	}

	main.page-game-detail {

		.game-slider {
			width: 100%;
			margin-bottom: 15px;
		}

		.game-details {
			display: none !important;
		}
	}

	main.page-game-detail {
		.game-slider {
			height: auto !important;
		}
	}

	.product-presentation .container.stage-01 {
		padding-top: 60px;
	}

	.filters, .filters.filters-news {
		position: relative;
		z-index: 1001;
		text-align: right;
		margin-top: -8.6rem;
		margin-bottom: 3rem !important;

		.open-filters {
			height: 4.2rem;
			line-height: 3.7rem;
			.borderRadius(2.1rem);

			&:after {
				.font-awesome();
				content: "\f107";
				display: inline-block;
				vertical-align: middle;
				font-size: 2rem;
				margin: 0 0 4px 10px;
				.transition('all 0.4s ease');
			}
		}

		ul {
			display: block !important;
			width: auto;
			min-width: 220px;
			position: absolute !important;
			top: 4.2rem;
			right: 0;
			max-height: 0;
			overflow: hidden;
			padding: 0 !important;
			background-color: @color-blue-dark !important;
			.borderRadius(2.1rem 0 2.1rem 2.1rem);
			.transition("all 0.5s ease");
			z-index: 10;

			li {
				position: relative;
				display: block !important;
				padding: 0;
				width: 100%;

				&:before {
					content: '';
					width: ~"calc(100% - 3rem)";
					height: 1px;
					left: 1.5rem;
					position: absolute;
					top: 0;
					background-color: @color-black;
					opacity: 0.35;
				}

				&:first-of-type {
					.borderRadius(2.1rem 2.1rem 0 0);

					&:before {
						display: none;
					}
				}

				&:last-of-type {
					.borderRadius(0 0 2.1rem 2.1rem);
				}

				a {
					display: block;
					padding: 1rem 3rem;
					font-size: 2rem;
					color: @color-white;
					text-align: right;

					&:hover {
						color: @color-white;
					}

					&:before {
						display: none !important;
					}

					&:after {
						.font-awesome();
						position: relative !important;
						content: "\f105" !important;
						width: 1.6rem !important;
						height: 2rem !important;
						line-height: 1.8rem;
						background-color: transparent !important;
						left: auto !important;
						right: auto !important;
						top: auto !important;
						.borderRadius(0);
						display: inline-block !important;
						vertical-align: middle;
						font-size: 2rem;
						margin: 0 0 4px 10px !important;
						.transition('all 0.4s ease');
					}

				}

				&.active a:after {
					.transform(rotate(90deg) translateX(-3px));
					margin: 0 0 4px 10px !important;
				}

				ul {
					max-height: 0 !important;
					overflow: hidden;
					position: relative !important;
					margin-top: 0 !important;
					.borderRadius(0);
					.transition("all 0.4s ease");

					li {
						position: relative;
						width: 100% !important;
						.transition("all 0.4s ease");

						a {
							padding-right: 4.2rem;

							&:after {
								display: none !important;
							}
						}

						&:first-of-type {

							&:before {
								display: block;
							}
						}

						&:before {
							content: '';
							width: ~"calc(100% - 3rem)";
							height: 1px;
							left: 1.5rem;
							position: absolute;
							top: 0;
							background-color: @color-black;
							opacity: 0.1;
						}
					}
				}

				&.active {

					ul {
						max-height: 60rem !important;
					}
				}
			}
		}

		&.open {

			.open-filters {
				.borderRadius(2.1rem 2.1rem 0 0);

				&:after {
					.transition('all 0.3s ease');
					.transform(rotate(180deg));
				}

				&:hover {
					.transform(scale(1));
				}
			}

			ul {
				opacity: 1;
				max-height: 120rem;
				.transition("all 0.9 ease");
			}
		}
	}

	.partners li.partner {
		margin: 15px 0;
	}

	.modal.modal-play-video {
		max-width: 50%;
		width: 50%;
		max-height: 50%;
		height: 50%;
		padding: 40px 10px 10px;

		.modal-body {
			height: 100%;
		}

		iframe {
			width: 100% !important;
			height: 100% !important;
		}
	}

	.articles-list li {
		height: 410px;
	}

}

@media only screen and (max-width: 649px) {

	.subscriber {

		.container {
			padding-top: 30px !important;
			padding-bottom: 25px !important;
		}

		.input:not(.input-recaptcha) {
			width: 100%;
			float: none;
			margin-bottom: 10px;
		}

		&.subscriber.focused {

			.input:not(.input-recaptcha) {
				width: 100%;
			}

		}

		&.subscriber-light {
			background-color: @color-orange-dark;
			background-image: none;
		}

		&.subscriber-dark {
			background-color: @color-blue;
			background-image: none;
		}
	}

	.page-news .subscriber {
		&.subscriber-dark {
			background-color: @color-orange-dark;
			background-image: none;
		}
	}

	.exhibitions-list li {
		width: ~"calc(50% - 1px)";
	}

	.page-contact {

		.content:after {
			top: 905px;
		}

		.contact-details {
			background-color: @color-blue;
			background-image: none;

			> ul > li {
				margin-top: 25px !important;

				&:first-of-type {
					margin-top: 0 !important;
				}

				&:last-of-type {
					position: relative;
					width: 100%;
					margin-top: 50px;
					padding: 30px 0 0;
					text-align: center;

					&:before {
						content: '';
						display: block;
						position: absolute;
						top: 0;
						left: 20px;
						width: ~"calc(100% - 40px)";
						height: 1px;
						background-color: darken(@color-blue-dark, 10%);
					}

					.label {
						display: none;
					}
				}

				> a:before {
					left: -65px;
				}
			}
		}
	}

	.page-about-us .video {
		padding: 12.5px 25px;

		iframe {
			top: 12.5px;
			left: 25px;
			width: ~"calc(100% - 50px)";
			height: ~"calc(100% - 25px)";
		}
	}

	.news-slider .slider-for li {
		min-height: 338px;
	}

	.page-about-us .our-awards {

		li {
			width: 50%;
			margin-bottom: 10px;
		}
	}

	.games-list.cols-3 {

		li {
			width: ~"calc(50% - 20px)";

			&:nth-of-type(-n+4) {
				margin-top: 20px;
			}

			&:nth-of-type(-n+3) {
				margin-top: 20px;
			}

			&:nth-of-type(-n+2) {
				margin-top: 0;
			}
		}
	}

	main.page-game-detail {
		.reviews .games-slider, .big-wins .games-list {

			button.fa {
				display: none !important;
			}

			.slick-dots:before {
				display: none;
			}
		}
	}

	.icon-play {
		width: 105px;
		height: 105px;
		border: 5px solid @color-transparent-white;

		span {
			font-size: 1.6rem;
		}
	}

	.articles-list li {
		height: 390px;
	}

}

@media only screen and (max-width: 619px) {

	h1, h2 {
		font-size: 3.2rem;
		margin-bottom: 1.5rem;

		&.title-line {
			margin-bottom: 1rem;

			span {
				background-color: transparent;
			}

			&:before {
				display: none;
			}

			.line {
				display: none;
			}

			a {
				display: none;
			}
		}

		&.title-dots {
			font-size: 2.8rem;
			margin-bottom: 1rem;

			span {

				&:before, &:after {
					margin-bottom: 0.5rem;
				}

				&:before {
					margin-right: 1rem;
				}

				&:after {
					margin-left: 1rem;
				}

			}
		}

		.selectricWrapper {
			float: right;
			padding: 0;

			.selectricItems {
				padding: 0;
			}
		}
	}

	h3 {
		font-size: 2rem;
	}

	.subscriber {
		h3 {
			font-size: 2.2rem;
		}
	}

	.games-list li {

		h2, h3 {
			margin-top: 0.5rem;
			font-size: 1.8rem;
			line-height: 2rem;
		}
	}

	.page-about-us {

		.content {
			h3 {
				font-size: 2rem;
			}

			.text p {
				font-size: 1.8rem;
			}
		}
	}

	.page-contact .contact-form h2 {
		font-size: 2.8rem;
	}

	main:not(.page-main).bg-dark .content h3 {
		margin-bottom: 1rem;
	}

	.page-main .games-categories li p {
		display: none;
	}

	.page-career-detail {

		.content {

			.buttons .btn {
				display: block;
				width: 280px;
				margin: 0 auto 10px !important;
			}
		}
	}

	.page-lets-talk {

		h1 {
			margin-bottom: 2rem;
		}
	}

	.main-slider {
		height: 250px;

		li.slick-slide {
			height: 250px;

			.slide {
				height: 250px;

				&.slide-big {
					height: 250px;
				}
			}

			.illustration, .details {
				height: 250px;
			}
		}

		.slider-big {
			.slick-dots {
				top: -60px;
			}
			button.fa {
				bottom: 52px;
			}
		}
	}

	body > header .header-main {

		.logo-main {
			display: block;
			float: none;
			margin: 9px auto 0;
		}

		.buttons {
			display: none;
		}
	}

	.col-2 {
		width: 100%;
		margin: 0 !important;
	}

	.page-contact {

		.content {
			background-position: center 23rem;

			&:after {
				top: 1000px;
			}
		}

		.contact-form h2 + .title-info {
			margin-top: -1rem;
		}
	}

	.send-email form .input:not(.input-textarea) {
		margin-bottom: 10px;
	}

	.events-slider {

		.illustration {
			display: block;
			float: none;
			width: 100%;
			height: auto;
			max-width: none;
			margin-bottom: 20px;
			text-align: left;

			img {
				position: relative;
				display: inline-block;
				max-width: 280px;
				max-height: 105px;
			}
		}

		.details {
			display: block;
			float: none;
			width: 100%;
			height: auto;
			max-width: none;
		}

		.buttons {
			padding: 0;
			margin: 20px 0 10px;
		}
	}

	.four-points li p {
		font-size: 1.3rem;
	}

	.page-news-detail {

		.news-slider {
			margin-bottom: 1rem;
		}

		.fa-calendar {
			display: inline-block;
			margin-bottom: 1rem;
		}
	}

	.news-slider .slider-for {
		width: ~"calc(100% + 24px)";
		margin-left: -12px;
		margin-right: -12px;

		li {
			min-height: 321px;
		}

		.slick-dots {
			top: -45px;

			&:before {
				display: none;
			}
		}
	}

	.news-slider .slider-nav {
		display: none;
	}

	main.page-game-detail {
		.game-slider {

			.slider-for {
				width: ~"calc(100% + 24px)";
				margin-left: -12px;
				margin-right: -12px;

				.slick-dots {
					top: -45px;

					&:before {
						display: none;
					}
				}

				button.fa {
					background-color: @color-white;
					width: 42px;
					height: 36px;
					top: 0;
					bottom: 20px;
					opacity: 0.4;

					&:before {
						line-height: 36px;
						color: @color-grey-darker;
						font-size: 4.2rem;
					}

					&:hover {
						opacity: 0.7;
						.transform(scale(1.03));
					}

					&:active {
						.transform(scale(1));
					}
				}

				button.slick-prev {
					right: auto;
					left: 10px;
					padding-right: 3px;
				}

				button.slick-next {
					right: 10px;
					left: auto;
					padding-left: 3px;
				}
			}

			.slider-nav {
				display: none;
			}
		}
	}

	.filters, .filters.filters-news {
		margin-top: -5.1rem;
	}

	.send-email {
		&.report-error .title-info {
			margin: -1rem 0 3rem;
		}

		form .input:not(.input-textarea) {
			width: 100%;
			margin: 0 0 10px;
		}
	}

	.page-error.error-500, .page-error.error-404 {
		.content p {
			font-size: 1.8rem;

			&.big {
				font-size: 2.2rem;
			}
		}
	}

	.articles-list li {
		height: 375px;
	}

}

@media only screen and (max-width: 549px) {

	.page-main .games-categories .container {
		width: ~"calc(100% + 6px)";
		padding: 3px 0;
		margin: 0 -3px;
	}

	.main-slider li.slick-slide .details a.title-link {
		display: none;
	}

	.games-list.slider .slick-list {
		padding-bottom: 30px;
	}

	.news-slider .slider-for li {
		min-height: 282px;
	}

	.page-error {
		.content {

			.container {
				padding-bottom: 50px !important;
			}

			h1 {
				margin: 0 0 -2rem;
			}

			p {
				margin-top: 4rem;
			}
		}

		&.error-500 {
			.content h1 {
				margin: 0;
			}
		}

		&.error-404 {
			.content .container {
				padding-bottom: 50px !important;
			}
		}
	}

	.articles-list li {
		height: 360px;
	}

}

@media only screen and (max-width: 519px) {

	/*MESSENGER*/
	.zopim {
		display: none !important;
	}

	.page-contact {

		.breadcrumbs + .content .container {
			padding-top: 0 !important;
			padding-left: 0;
			padding-right: 0;

			h1 {
				padding: 20px 0 0;
				background-color: @color-blue;
				margin-bottom: 0;

				span {
					color: @color-white;
				}
			}
		}

		.contact-form {
			padding-left: 12px;
			padding-right: 12px;
		}
	}

	body > footer {
		padding: 10px 0;
		border-bottom: 5px solid @color-orange-dark;

		.contacts {
			min-height: 0;

			li {
				display: none;
				margin: 0;

				a {
					font-size: 3rem;
					margin-left: 35px;

					&:before {
						font-size: 3.4rem;
						left: -35px;
						top: 9px;
					}
				}

				&:last-of-type {
					display: block;
				}
			}
		}
	}

	.page-career {

		h1 + h2.title-dots {
			display: none;
		}
	}

	.four-points {
		display: none;
	}

	.news-slider .slider-for li {
		min-height: 266px;
	}

	.text blockquote {
		margin: 3.5rem 0;
		padding: 3rem 0 2.8rem;

		&:before, &:after {
			background-size: 7rem auto, auto auto;
			background-position: center top, left 8px;
		}
	}

	.page-about-us .our-awards li {

		.illustration {
			width: 124px;
			height: 124px;
		}

		p {
			font-size: 1.3rem;
			padding: 0 5px;
		}
	}

	.games-list.cols-3 {
		width: ~"calc(100% + 10px)";
		margin-left: -5px;
		margin-right: -5px;

		li {
			width: ~"calc(50% - 10px)";
			margin: 10px 5px 0;

			h2, h3 {
				font-size: 1.8rem;

				&:before, &:after {
					display: none;
				}

				&:before {
					margin-right: 3px;
				}

				&:after {
					margin-left: 3px;
				}
			}

			.btn {
				font-size: 1.8rem;
				padding: 0 1rem;
			}
		}
	}

	.articles-list {

		img {
			margin-bottom: 10px;
		}

		li {
			height: 340px;
		}
	}

}

@media only screen and (max-width: 506px) {

	.modal {
		form .buttons {
			padding: 0;
			height: auto !important;

			> * {
				display: inline-block !important;
				float: none !important;
				position: relative !important;
				left: auto !important;
				right: auto !important;
				width: 190px !important;
				margin: 0 10px 10px !important;

				&:first-child {
					margin: 0 10px 10px !important;
				}

				&:last-child {
					margin: 0 10px !important;
				}

				&:only-child {
					margin: 0 10px !important;
				}

				&.input-recaptcha {
					height: 4.65rem;

					&.error {
						margin: 0 10px 24px !important;
					}
				}
			}
		}
	}

	.partners ul.slick-slider, .slider, .slider-big, .slider-nav, .slider-for {

		.slick-dots {
			height: 14px;

			&:before {
				top: 7px;
			}

			li button {
				width: 14px;
				height: 14px;
			}
		}
	}

	.slider, .slider-big, .slider-nav, .slider-for {

		button.fa {
			bottom: -5.5px;
		}
	}

}

@media only screen and (max-width: 499px) {

	main.page-game-detail {

		.subscriber {
			background-color: @color-orange-dark;
			background-image: none;

			.btn {
				color: @color-white;
				background-color: @color-blue-dark;
				border: 0.2rem solid @color-blue-dark;
			}
		}

		.big-wins + .reviews {
			.add-button {
				top: 6.5rem;
			}
		}

		.reviews {

			.games-slider {
				width: 100%;
			}

			h2 {
				margin-bottom: 6rem;
			}

			.add-button {
				position: absolute;
				top: 4.3rem;
				left: 0;
				right: 0;
				margin: auto;
				padding: 0;
				width: 195px;

				a {
					position: relative;
					width: 100%;
					display: inline-block;
					vertical-align: top;
					text-align: center;
					height: 4rem;
					line-height: 3.7rem;
					font-size: 2.2rem;
					text-decoration: none !important;
					text-transform: uppercase;
					padding: 0 6rem;
					.borderRadius(2rem);
					.transition("all 0.2s ease");
					z-index: 1;
					overflow: hidden;

					&:before {
						content: "";
						position: absolute;
						left: -75px;
						top: -50px;
						width: 50px;
						height: 155px;
						opacity: .2;
						.transform(rotate(35deg));
						.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
						background-color: @color-white;
						z-index: -1;
					}

					&:hover {
						.transform(scale(1.02));

						&:before {
							left: 120%;
							.transition("all 550ms cubic-bezier(0.19, 1, 0.22, 1)");
						}
					}
				}

				.icon-add {
					width: 100%;
					height: auto;
					border: 0;
					background-color: transparent;
					.boxShadow(none);

					.fa-plus {
						display: inline-block;
						vertical-align: top;
						position: relative;
						top: auto;
						bottom: auto;
						left: auto;
						right: auto;
						margin-top: 0.6rem;
					}

					span {
						display: inline-block;
						vertical-align: top;
						position: relative;
						top: auto;
						bottom: auto;
						left: auto;
						right: auto;
						text-shadow: none;
						font-size: 2rem;
					}
				}
			}
		}
	}

	.similar-games {
		display: none;
	}

	main.page-game-detail .reviews .games-slider {
		margin-right: 0;

		button.slick-prev {
			left: 0;
		}

		button.slick-next {
			right: 0;
		}

		.slick-dots {
			right: auto;
		}
	}

	.new-games-list {

		li {
			width: ~"calc(50% - 20px)";
			margin-top: 20px !important;
		}
	}

	.slider, .slider-big, .slider-nav, .slider-for {

		li {
			display: block;
		}
	}

}

@media only screen and (max-width: 480px) {

	.page-about-us .video {
		padding: 0;
		width: ~"calc(100% + 24px)";
		margin-left: -12px;
		margin-right: -12px;
		margin-bottom: 3rem;

		iframe {
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

	body > header {

		.header-main {
			height: 8rem;
			padding: 1.5rem 0 0;

			.logo-main {
				width: 11rem;
				margin: 0 auto;
			}
		}

		.header-nav {

			.container {
				height: ~"calc(100% - 8rem)";
				top: 8rem;
			}

			.logo-menu {
				width: 11rem;
				top: 14px;
			}
		}
	}

	.open-menu-wrapper {
		height: 8rem;
	}

	.partners li.partner img {
		.filter(grayscale(0));
	}

	.partners-img-list li {
		width: ~"calc(50% - 1px)";
	}

	.team-members-list {

		&.slider {
			width: ~"calc(100% + 10px)";
			margin-left: -5px;
			margin-right: -5px;

			li.slick-slide {
				margin: 0 5px;
			}
		}

		.member {

			.back {
				top: 0;
			}

			h3 {
				font-size: 1.8rem;
			}

			p {
				font-size: 1.35rem;
			}
		}
	}

	.buttons {
		padding-top: 20px;
	}

	.news-slider .slider-for li {
		min-height: 266px;
	}

	.open-menu {
		width: 40px;
		left: 15px;

		span {
			height: 5px;

			&:before, &:after {
				height: 5px;
			}

			&:before {
				top: -13px;
			}

			&:after {
				bottom: -13px;
			}
		}
	}

	.team-members-list {

		&.slider {
			.slick-list {
				padding: 5px 0 10px;
			}
		}

		.member {

			&:hover {
				.flipper {
					.transform(none);
				}
			}

			h3, p {
				text-align: center;
			}

			.flipper {
				height: 330px;
			}

			.front {
				position: relative;
				height: auto !important;
				padding: 0 !important;
				background-color: transparent;

				.illustration {
					border: 4px solid @color-white;
				}
			}

			.back {
				position: relative;
				height: auto !important;
				.transform(none);
				background-color: transparent;
				padding: 0 !important;
				margin-top: -2px;

				.info {
					background-color: transparent;
					padding-top: 0;
					border: 0;

					.details {
						display: none;
					}

					.contact {
						padding: 0;

						li {
							margin: 0 0 -2px;
						}

						a, span {
							color: @color-white;
							margin: 0;
							font-size: 1.35rem;
							text-decoration: underline;
							opacity: 1;

							&:before, &:after {
								display: none;
							}

							&.linkedin {
								margin-top: 5px;
								width: 80px;
								text-decoration: none;
								opacity: 1;
								padding: 3px 12px;
							}
						}

						span {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	main.page-game-detail {
		.content .container {
			padding-bottom: 35px !important;
		}
	}

	body > header .header-nav .container .social li {
		margin: 3px;
	}

	.articles-list li {
		height: 410px;
	}

}

@media only screen and (max-width: 464px) {

	body > header .header-nav {
		left: ~"calc(-100% + 85px)" !important;
	}

	.news-slider .slider-for li {
		min-height: 258px;
	}

	.page-about-us .our-awards li {

		.illustration {
			width: 110px;
			height: 110px;

			&:before {
				width: 104px;
				height: 104px;
			}
		}

		p {
			font-size: 1rem;
		}
	}

	.articles-list li {
		height: 400px;
	}

}

@media only screen and (max-width: 449px) {

	.main-slider li.slick-slide {

		.illustration {
			min-width: 120px;
		}

		.details {
			max-width: ~"calc(100% - 120px)";
		}
	}

	.news-slider .slider-for li {
		min-height: 249.5px;
	}

	.games-list.cols-3 li {
		.btn {
			height: 4rem;
			line-height: 3.5rem;
		}
	}

	.articles-list li {
		height: 395px;
	}

}

@media only screen and (max-width: 442px) {

	html body {
		font-size: 1.4rem;
	}

	.text {
		font-size: 1.4rem;

		h3, h4, h5 {
			text-align: center;
		}

		p, ul, ol {
			text-align: center;
		}

		ul, ol {
			li {
				display: table;
				margin: 0 auto 5px;
			}
		}

		ul li {
			padding-left: 1.4rem;

			&:before {
				top: 0.6rem;
				width: 6px;
				height: 6px;
			}
		}
	}

	h1, h2 {
		font-weight: bold;
		text-align: center;

		span {
			padding: 0 !important;
		}

		&.title-dots {
			span {
				&:before, &:after {
					display: none;
				}
			}
		}
	}

	.page-about-us .content .text p {
		font-size: 1.6rem;
		margin-bottom: 1rem;
		text-align: center;
	}

	main:not(.page-main).bg-dark .content h3 {
		text-align: center;
	}

	.info-text {
		text-align: center;
	}

	form .input .error-message:before {
		width: 15px;
		height: 15px;
		padding: 0 0 0 1px;
		margin-bottom: 2px;
	}

	.page-contact .contact-form h2 + .title-info {
		text-align: center;
	}

	.send-email.report-error .title-info {
		font-size: 1.6rem;
	}

	.main-slider {
		height: 200px;

		li.slick-slide {
			height: 200px;

			.slide {
				height: 200px;

				&.slide-big {
					height: 200px;
				}
			}

			.illustration, .details {
				height: 200px;
			}
		}

		h1, h2 {
			text-align: left;
		}

		.slick-list {
			margin-bottom: 0;
		}

		li.slick-slide {

			.details {

				h2 {
					font-size: 1.8rem;
					margin-bottom: 0.5rem;
				}

				p {
					font-size: 1.4rem;
				}
			}
		}

		.slider-big .slick-dots {
			top: -35px;
		}
	}

	.slider, .slider-big, .slider-nav, .slider-for, .partners ul.slick-initialized {

		.slick-prev, .slick-next {
			display: none !important;
		}

		.slick-dots {

			&:before {
				display: none;
			}

			li {
				margin: 0 8px !important;
			}
		}
	}

	.page-main .games-categories li h3 {
		font-size: 1.4rem;
		line-height: 1.8rem;
		padding: 0.05rem 0.5rem;
	}

	.page-lets-talk {

		h1 {

			span {
				display: block;
				text-align: center;
				margin-bottom: 10px;
			}

			.selectricWrapper {
				display: inline-block;
				float: none;
				margin: 0;
			}
		}
	}

	.partners-list li {

		.illustration {
			text-align: center;
		}

		p {
			text-align: center;
		}

		strong {
			text-align: center;

			span:last-of-type {
				margin-right: 0;
			}
		}
	}

	.page-contact .contact-details > ul > li > a {
		font-size: 2rem;

		&:before {
			left: -50px;
			bottom: 1px;
		}
	}

	.page-news-detail {

		.content .container {
			text-align: center;
		}
	}

	.games-list.cols-3 li {
		margin-top: 5px !important;

		h2, h3 {
			margin-top: 0.5rem;

			a {
				display: inline-block;
				max-width: 100%;
				font-size: 1.7rem;
				font-weight: normal;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	.page-error {

		.content h1 {
			margin: 0 0 1rem;
		}

		&.error-500 {

			.content h1 {
				margin: 0;
			}
		}
	}

	.product-presentation {
		height: 190px;
		.transition("all 0.5s ease");

		.container {
			height: 310px;
		}

		form .input:not(.input-recaptcha) {
			width: 100%;
			float: none;
			margin: 0 0 10px;
		}

		.container.stage-01 {
			height: 190px;
			padding-top: 22px;

			.btn {
				width: 300px;
				max-width: 100%;
				height: auto;
				line-height: 3rem;
				padding: 0.8rem 6rem;
				margin-bottom: 20px;
			}

			p {
				padding: 0 7rem;
			}
		}

		.container.stage-03, .container.stage-04 {
			padding-top: 85px;
		}

		&.form {
			height: 310px;

			.stage-01 {
				margin-top: -190px;
			}
		}

		&.success {
			height: 310px;

			.stage-01 {
				margin-top: -500px;
			}

			.stage-03 {
				top: 0;
			}
		}

		&.error {
			height: 310px;

			.stage-01 {
				margin-top: -620px;
			}

			.stage-04 {
				top: 0;
			}
		}
	}

	.events-slider {

		.illustration {
			text-align: center;
		}

		.details {

			p {
				text-align: center
			}

			strong {
				text-align: center;

				span {
					margin: 0 0 5px !important;
				}
			}
		}
	}

	.subscriber {

		h3, p {
			text-align: center;
		}

		h3 + p {
			margin-top: -0.5rem;
		}

		.buttons {
			width: 100% !important;
		}
	}

	main.page-game-detail, .page-news {
		.subscriber {
			background-color: @color-orange-dark;
		}
	}

	form .buttons {
		padding: 0;
		height: auto !important;
		text-align: center;

		> * {
			display: inline-block !important;
			float: none !important;
			position: relative !important;
			left: auto !important;
			right: auto !important;
			width: 190px !important;
			margin: 0 10px 10px !important;

			&:first-child {
				margin: 0 10px 10px !important;
			}

			&:last-child {
				margin: 0 10px !important;
			}

			&:only-child {
				margin: 0 10px !important;
			}

			&.input-recaptcha {
				height: 4.65rem;

				&.error {
					margin: 0 10px 24px !important;
				}
			}
		}
	}

	.breadcrumbs + .content .container {
		padding-top: 30px !important;
	}

	.news-slider .slider-for li {
		min-height: 245.5px;
	}

	.open-menu {
		left: 12px;
	}

	.team-members-list .member {

		.illustration {
			height: 180px;
		}

		.flipper, .front, .back {
			height: 295px;
		}
	}

	.filters, .filters.filters-news {
		text-align: center;
		margin-top: 0;

		ul {
			width: 100%;
			.borderRadius(2.1rem);

			li.active a:after {
				.transform(rotate(90deg) translateX(1px));
			}

			li a {
				text-align: center;
			}
		}
	}

	.page-error.error-500, .page-error.error-404 {
		.content p {
			font-size: 1.6rem;

			&.big {
				font-size: 1.8rem;
			}
		}
	}

	.games-slider, .big-wins {

		a {
			&:hover {
				+ .game-info {
					.transform(scale(1));
				}
			}
		}
	}

	main.page-game-detail {
		.games-slider, .big-wins {

			.icon-play {
				bottom: 0;
			}

			.games-list li .game-info {
				margin-top: 3px;
			}
		}
	}

	.vacancy-list {

		li {
			&.block-04 {

				.btn {
					right: auto;
					left: 12px;
				}
			}

			&.block-07 {

				.btn {
					right: auto;
					left: 12px;
				}
			}
		}
	}

	.subscriber .buttons .input-recaptcha.error {
		margin-bottom: 24px !important;
	}

	.product-presentation .container.stage-02 .buttons .input-recaptcha.error {
		margin-bottom: 24px !important;
	}

}

@media only screen and (max-width: 409px) {

	.articles-list li {
		height: 375px;
	}

}

@media only screen and (max-width: 389px) {

	.team-members-list .member {

		h3 {
			font-size: 1.6rem;
		}

		p {
			font-size: 1.2rem;
		}

		.illustration {
			height: 170px;
		}

		.flipper {
			height: 282px;
		}

		.front, .back {
			padding: 4px;
		}
	}

	.articles-list li {
		height: 360px;
	}

}

@media only screen and (max-width: 349px) {

	.team-members-list .member {

		h3 {
			font-size: 1.5rem;
		}

		p {
			font-size: 1.2rem;
		}
	}

	.games-list.cols-3 li {
		h2, h3 {
			font-size: 1.7rem;
			font-weight: normal;
		}
	}

	.articles-list li {
		height: 325px;
	}

}

@media only screen and (max-width: 320px) {

	.news-slider .slider-for li {
		min-height: 177.8px;
	}

	.articles-list li {
		height: 315px;
	}

}
