/*FONTS*/

// Font faces
@font-face {
	font-family: 'ATO Salutino';
	src: url('../fonts/ATOSalutino.ttf')  format('truetype')
}

@font-face {
	font-family: 'Mensch';
	src: url('../fonts/mensch.ttf')  format('truetype')
}

@font-face {
	font-family: 'Mensch Bold';
	src: url('../fonts/mensch-bold.ttf')  format('truetype')
}

// Font mixins
.font-main() {
	font-family: 'Open Sans Condensed', sans-serif;
}

.font-awesome() {
	font: normal normal normal 14px/1 FontAwesome;
}

.blockquote-font() {
	font-family: Georgia, Times, "Times New Roman", serif;
}

.font-salutino() {
	font-family: "ATO Salutino", sans-serif;
}

.font-mensch () {
	font-family: "Mensch", 'Open Sans Condensed', sans-serif;
}