/*SELETRICS*/
.selectricWrapper {
	display: inline-block;
	position: relative;
	cursor: pointer;
	.selectric {
		position: relative;
		border: 2px solid @color-orange;
		background-color: @color-grey-lets-talk;
		.borderRadius(2rem);
		min-width: 190px;

		.label {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			margin: 0 40px 0 0;
			padding: 6px 0 6px 15px;
			font-size: 2.2rem;
			text-transform: uppercase;
			color: @color-orange-darker;
			.placeholderColor(@color-grey-light);
		}
		.button {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 40px;
			padding: 0;
			height: 100%;
			color: @color-grey;
			text-align: center;
			font: 0/0 a;
			/* IE Fix */
			*font: 20px/30px Lucida Sans Unicode, Arial Unicode MS, Arial;
			&:after {
				content: "";
				position: absolute;
				top: -4px;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
				width: 10px;
				height: 10px;
				border: 2px solid @color-orange;
				border-left: 0;
				border-top: 0;
				.transform(rotate(45deg));
				.transition("all 0.3s ease");
			}
		}
	}
	&.selectricHover {

		.selectric {

			.button:after {
				border-color: darken(@color-orange, 20%);
			}
		}
	}
	&.selectricOpen {
		z-index: 19;

		.selectric {
			background-color: lighten(@color-grey-lets-talk, 5%);
			border-bottom: 0;
			.borderRadius(1rem 1rem 0 0);

			.button:after {
				top: 4px;
				.transform(rotate(225deg));
			}
		}
		.selectricItems {
			display: block;
		}
	}
	&.selectricDisabled {
		filter: alpha(opacity=50);
		opacity: 0.5;
		cursor: default;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.selectricHideSelect {
	position: relative;
	overflow: hidden;
	width: 0;
	height: 0;
}

.selectricHideSelect select {
	position: absolute;
	left: -100%;
	display: none;
}

.selectricInput {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}

.selectricTempShow {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}

/* Items box */
.selectricItems {
	display: none;
	position: absolute;
	width: 100% !important;
	top: 100%;
	left: 0;
	padding: 0 20px;
	z-index: -1;
	outline: none;
	cursor: default;

	ul {
		max-height: 180px;
		overflow: auto;
		border: 2px solid @color-orange;
		border-top: 0;
		margin-top: -1px;
		.borderRadius(0 0 1rem 1rem);

		li {
			cursor: pointer;

			&:last-of-type {
				.borderRadius(0 0 0.9rem 0.9rem);
				padding-bottom: 10px;
			}
		}
	}
}

.selectricItems .selectricScroll {
	height: 100%;
	overflow: auto;
}

.selectricAbove .selectricItems {
	top: auto;
	bottom: 100%;
}

.selectricItems ul {
	background-color: lighten(@color-grey-lets-talk, 5%);
	border-top: 1px solid @color-grey-light;
}

.selectricItems ul, .selectricItems li {
	list-style: none;
	font-size: 1.8rem;
	line-height: 20px;
	min-height: 20px;
}

.selectricItems li {
	position: relative;
	opacity: 0.9;
	display: block;
	padding: 8px 15px;
	color: @color-grey-dark;
	cursor: pointer;
	text-align: center;
	.transition("all 0.2s ease");

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: ~"calc(100% - 30px)";
		height: 1px;
		background-color: darken(@color-grey-lets-talk, 10%);
	}
}

.selectricItems li.selected {
	color: darken(@color-grey-dark, 15%);
}

.selectricItems li:hover {
	color: darken(@color-grey-dark, 25%);
}

.selectricItems li.disabled {
	display: none;
}