/*LESS MIXINS*/
.keyframes( @name, @params ) {

	@-webkit-keyframes @name { @params();
	}

	@-moz-keyframes @name { @params();
	}

	@-o-keyframes @name { @params();
	}

	@keyframes @name { @params();
	}
}

@keyframes blinker {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.animation( @exp ) {
	-webkit-animation: @exp;
	-moz-animation: @exp;
	-o-animation: @exp;
	animation: @exp;
}

.borderImage ( @exp ) {
	-moz-border-image: @exp;
	-webkit-border-image: @exp;
	-o-border-image: @exp;
	border-image: @exp;
}

.borderRadius ( @exp ) {
	-webkit-border-radius: @exp;
	-moz-border-radius: @exp;
	border-radius: @exp;
}

.boxShadow ( @exp ) {
	-moz-box-shadow: @exp;
	-webkit-box-shadow: @exp;
	box-shadow: @exp;
}

.filter( @val ) {
	-webkit-filter: @val;
	-moz-filter: @val;
	-ms-filter: @val;
	-o-filter: @val;
	filter: @val;
}

.transform ( @exp ) {
	-webkit-transform: @exp;
	-moz-transform: @exp;
	-ms-transform: @exp;
	-o-transform: @exp;
	transform: @exp;
}

.transformOrigin( @origin ) {
	-webkit-transform-origin: @origin;
	-moz-transform-origin: @origin;
	-ms-transform-origin: @origin;
	transform-origin: @origin;
}

.transformStyle( @style ) {
	-webkit-transform-style: @style;
	-moz-transform-style: @style;
	-o-transform-style: @style;
	transform-style: @style;
}

.perspective( @respective ) {
	-webkit-perspective: @respective;
	-moz-perspective: @respective;
	-o-perspective: @respective;
	perspective: @respective;
}

.transition( @exp ) {
	-webkit-transition: e(@exp);
	-moz-transition: e(@exp);
	-ms-transition: e(@exp);
	-o-transition: e(@exp);
	transition: e(@exp);
}

.backfaceVisibility ( @visibility ) {
	-webkit-backface-visibility: @visibility;
	-moz-backface-visibility: @visibility;
	-o-backface-visibility: @visibility;
	backface-visibility: @visibility;
}

.placeholderColor( @color ) {

	&::-webkit-input-placeholder {
		color: @color;
		opacity: 0.6;
	}

	&:-moz-placeholder {
		color: @color;
		opacity: 0.6;
	}

	&::-moz-placeholder {
		color: @color;
		opacity: 0.6;
	}

	&:-ms-input-placeholder {
		color: @color;
		opacity: 0.6;
	}
}

.disableUserSelect() {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.borderBox() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.verticalAlign() {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.horizontalAlign() {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.totalCenter() {
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-moz-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.clear() {
	content: "";
	display: table;
	clear: both;
}

.gradient-vertical (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}

.gradient-horizontal (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.resetUl() {
	&, ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.resetOl() {
	&, ol, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.borderSlice() {
	-moz-border-image-slice: 1;
	-webkit-border-image-slice: 1;
	-o-border-image-slice: 1;
	-ms-border-image-slice: 1;
	border-image-slice: 1;
}

.marginCropV(){
	> * {
		&:first-child {
			margin-top: 0 !important;
		}

		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}

.marginCropH(){
	> * {
		&:first-child {
			margin-left: 0 !important;
		}

		&:last-child {
			margin-right: 0 !important;
		}
	}
}

.keyframes(rotateSpinner, {
	0% {.transform(translateX(-50%) translateY(-50%) rotate(0deg));}
	50% {.transform(translateX(-50%) translateY(-50%) rotate(180deg));}
	100% {.transform(translateX(-50%) translateY(-50%) rotate(360deg));}
});

.keyframes(rotateSpinnerRevert, {
	0% {.transform(translateX(-50%) translateY(-50%) rotate(0deg) scale(0.8));}
	50% {.transform(translateX(-50%) translateY(-50%) rotate(-180deg) scale(1));}
	100% {.transform(translateX(-50%) translateY(-50%) rotate(-360deg) scale(0.8));}
});
