<footer>
	<div class="container">
		<nav>
			<ul>
				<li class="active"><a href="">Home</a></li>
				<li><a href="">News</a></li>
				<li><a href="">Company</a></li>
				<li><a href="">Career</a></li>
				<li><a href="">Games</a></li>
				<li><a href="">Partners</a></li>
			</ul>
		</nav>
		<div class="contacts">
			<ul>
				<li><a class="fa fa-envelope" href="">mail@endorphina.com</a></li>
				<li><a class="fa fa-skype" href="">endorphina.com</a></li>
				<li><a class="fa fa-phone" href="">+420 222 564 222</a></li>
			</ul>
		</div>
		<div class="buttons">
			<a class="btn btn-secondary" href="">Client Login</a>
		</div>
		<div class="social social-footer">
			<ul>
				<li><a class="fa fa-twitter" href=""></a></li>
				<li><a class="fa fa-periscope" href=""></a></li>
				<li><a class="fa fa-youtube" href=""></a></li>
				<li><a class="fa fa-linkedin" href=""></a></li>
				<li><a class="fa fa-facebook" href=""></a></li>
			</ul>
		</div>
	</div>
</footer>

<script src="js/libs/jquery-2.2.3.min.js"></script>
<script src="js/libs/jquery.dotdotdot.min.js"></script>
<script src="js/libs/jquery.selectric.js"></script>
<script src="js/libs/slick.min.js"></script>
<script src="js/main.js"></script>
