<header>
	<div class="header-main">
		<div class="container">
			<a href="" class="logo-main">
				<img src="images/logo/logo-main.png" alt="">
			</a>
			<div class="buttons">
				<a href="" class="fa fa-unlock-alt">log in</a>
				<a href="" class="fa fa-phone">+420 222 564 222</a>
				<a href="" class="btn btn-default btn-lets-talk">LET’s talk</a>
			</div>
		</div>
	</div>
	<div class="header-nav nav-secondary">

		<div class="open-menu-wrapper">
			<button class="open-menu"><span></span></button>
		</div>

		<a class="logo-menu" href="">
			<img src="images/logo/logo-main-white.png" alt="">
		</a>

		<div class="container">
			<nav>
				<ul>
					<li class="active"><a href="">home</a></li>
					<li><a href="">company</a></li>
					<li><a href="">games</a></li>
					<li><a href="">news</a></li>
					<li><a href="">career</a></li>
					<li><a href="">partners</a></li>
					<li><a href="">contact us</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>