/*LESS INIT*/
html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
cite,
code,
del,
dfn,
em,
img,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-style: normal;
  font-size: 100%;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/*BOOTSTRAP RESET*/
.row {
  margin-right: -10px;
  margin-left: -10px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  padding-right: 10px;
  padding-left: 10px;
}
/*LESS MIXINS*/
@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body > header .header-main {
  display: block;
  height: 11.8rem;
  background-color: #ffffff;
  padding: 1.8rem 0;
}
body > header .header-main .logo-main {
  display: block;
  float: left;
  width: 18rem;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  overflow: hidden;
}
body > header .header-main .logo-main:before {
  content: "";
  position: absolute;
  left: -75px;
  top: -15px;
  width: 50px;
  height: 110px;
  opacity: .2;
  -webkit-transform: rotate(35deg) skewY(-35deg);
  -moz-transform: rotate(35deg) skewY(-35deg);
  -ms-transform: rotate(35deg) skewY(-35deg);
  -o-transform: rotate(35deg) skewY(-35deg);
  transform: rotate(35deg) skewY(-35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #ffffff;
}
body > header .header-main .logo-main img {
  width: 100%;
}
body > header .header-main .logo-main:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
body > header .header-main .logo-main:hover:before {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
body > header .header-main .logo-main:active {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
body > header .header-main .buttons {
  display: block;
  float: right;
  height: 8.2rem;
}
body > header .header-main .buttons > * {
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
body > header .header-main .buttons .fa {
  position: relative;
  margin: 0 2.5rem 0 5rem;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase;
  color: #283346;
  border-bottom: 0.2rem solid transparent;
  z-index: 1;
}
body > header .header-main .buttons .fa:before {
  display: block;
  position: absolute;
  top: -1rem;
  left: -5rem;
  width: 3.8rem;
  height: 3.8rem;
  line-height: 3.4rem;
  font-size: 2rem;
  color: #283346;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 0.2rem solid #e59c44;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
body > header .header-main .buttons .fa:after {
  content: '';
  position: absolute;
  top: -0.8rem;
  left: -4.8rem;
  width: 3.4rem;
  height: 3.4rem;
  background-color: #e59c44;
  z-index: -1;
  opacity: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
body > header .header-main .buttons .fa:hover {
  border-bottom-color: rgba(40, 51, 70, 0.2);
}
body > header .header-main .buttons .fa:hover:before {
  color: #ffffff;
}
body > header .header-main .buttons .fa:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
body > header .header-main .buttons .fa:active:before,
body > header .header-main .buttons .fa:active:after {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
  transform: scale(0.97);
}
body > header .header-main .buttons .btn:hover {
  -webkit-transform: scale(1.02) translateY(-50%);
  -moz-transform: scale(1.02) translateY(-50%);
  -ms-transform: scale(1.02) translateY(-50%);
  -o-transform: scale(1.02) translateY(-50%);
  transform: scale(1.02) translateY(-50%);
}
body > header .header-main .buttons .btn:active {
  -webkit-transform: scale(0.97) translateY(-50%);
  -moz-transform: scale(0.97) translateY(-50%);
  -ms-transform: scale(0.97) translateY(-50%);
  -o-transform: scale(0.97) translateY(-50%);
  transform: scale(0.97) translateY(-50%);
}
body > footer {
  display: block;
  padding: 4rem 0 3.5rem;
  background-color: #283346;
  font-size: 0;
}
body > footer nav {
  display: inline-block;
  width: 25%;
}
body > footer nav ul {
  display: block;
}
body > footer nav li {
  display: inline-block;
  width: 50%;
  margin-bottom: 0.8rem;
}
body > footer nav li a {
  display: inline-block;
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #ffffff;
}
/*BUTTONS*/
.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 4.6rem;
  line-height: 4.2rem;
  font-size: 2.3rem;
  text-decoration: none !important;
  text-transform: uppercase;
  padding: 0 6rem;
  -webkit-border-radius: 2.3rem;
  -moz-border-radius: 2.3rem;
  border-radius: 2.3rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1;
  overflow: hidden;
}
.btn:before {
  content: "";
  position: absolute;
  left: -75px;
  top: -50px;
  width: 50px;
  height: 155px;
  opacity: .2;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
  transform: rotate(35deg);
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #ffffff;
  z-index: -1;
}
.btn:hover {
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
.btn:hover:before {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn:active {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.btn.btn-default {
  color: #ffffff;
  background-color: #283346;
  border: 0.2rem solid #283346;
}
.btn.btn-primary {
  color: #283346;
  background-color: #cc9655;
  border: 0.2rem solid #cc9655;
}
.btn.btn-secondary {
  color: #283346;
  background-color: #ffffff;
  border: 0.2rem solid #ffffff;
}
.btn.btn-secondary:before {
  background-color: #999999;
}
/*SOCIAL*/
.social li {
  display: inline-block;
  vertical-align: top;
}
.social li a {
  position: relative;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  border: 0.1rem solid #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  line-height: 3.3rem;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 1;
}
.social li a:before {
  font-size: 2rem;
}
.social li a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: -1;
  opacity: 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.social li a:hover {
  color: #283346;
}
.social li a:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.social li a:active:before,
.social li a:active:after {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
  transform: scale(0.97);
}
/*TEXT EDITOR*/
.text {
  text-align: left;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #000000;
}
.text strong,
.text b {
  font-weight: 500;
}
.text em,
.text i {
  font-style: italic;
}
.text .marker {
  background-color: yellow;
}
.text p {
  margin-bottom: 1rem;
}
.text .underline {
  text-decoration: underline;
}
.text blockquote {
  position: relative;
  margin: 1.5rem 2rem 2rem;
  padding: 0.8rem 0 0.8rem 2rem;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
}
.text blockquote p {
  margin: 0;
}
.text blockquote:before {
  content: "";
  position: absolute;
  top: 0.1rem;
  left: 0;
  display: inline-block;
  height: 100%;
  width: 0.4rem;
  background-color: #8e9093;
}
.text ul {
  margin-bottom: 1rem;
}
.text ul li {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
}
.text ol {
  margin-bottom: 1rem;
}
.text ol li {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0;
}
/*FONTS*/
/*VARIABLES*/
/*HELPERS*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-backface-visibility: hidden;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  outline: 0;
}
a:hover {
  text-decoration: none;
}
img {
  display: block;
}
html {
  font-size: 62.5%;
}
html body {
  min-width: 960px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.7rem;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0 0;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
/*MAIN STYLES*/
/*MEDIA QUERIES*/
